{% load static %}
<div class="candidate-education-content mt-4 d-flex pt-4 border-top">
  <div class="circle flex-shrink-0 bg-soft-primary" style="font-size:12px;"> {{ forloop.revcounter|add:"-1"}} </div>

  <div class="d-flex flex-column align-items-stretch w-100">
    <div class="ms-4">
      <div class="d-flex">
        <h6 class="fs-16 mb-1">{{ log.title }}</h6>
        <p class="fs-12 text-muted mb-0 mx-2">{{ log.creation_date }}</p>
      </div>
      <p class="text-muted">{{ log.description }}</p>
    </div>

    {% if log.files %}
    <ul class="profile-document list-unstyled mb-0">
      {% for f in log.files.all %}
      <li>
        <div class="profile-document-list document-list-colored ms-4 d-flex align-items-center mt-2">
          <div class="icon flex-shrink-0">
            <i class="uil uil-file"></i>
          </div>
          <div class="ms-3">
            <h6 class="fs-16 mb-0">{{ f.file }}</h6>
            <p class="text-muted mb-0">{{ f.file.size|filesizeformat }}</p>
          </div>
          <div class="ms-auto">
            <a href="{% static 'images/dark-logo.png' %}" download class="fs-20 text-muted"><i class="uil uil-import"></i></a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

  </div>

</div>
