{% load static %}
<style>
  ul.cloud {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 2.75rem;
    width: 450px;
  }

  ul.cloud a {
    --size: 4;
    --color: #a33;
    color: var(--color);
    display: block;
    padding: 0.125rem 0.25rem;
    position: relative;
    text-decoration: none;
  }

  ul[data-show-value] a::after {
    content: " (" attr(data-weight) ")";
    font-size: 1rem;
  }

  ul.cloud li:nth-child(2n+1) a {
    --color: #181;
  }

  ul.cloud li:nth-child(3n+1) a {
    --color: #33a;
  }

  ul.cloud li:nth-child(4n+1) a {
    --color: #c38;
  }

  ul.cloud a:focus {
    outline: 1px dashed;
  }

  ul.cloud a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background: var(--color);
    transform: translate(-50%, 0);
    opacity: 0.15;
    transition: width 0.25s;
  }

  ul.cloud a:focus::before,
  ul.cloud a:hover::before {
    width: 100%;
  }

  @media (prefers-reduced-motion) {
    ul.cloud * {
      transition: none !important;
    }
  }

  #my_canvas span:hover {
    background-color: rgba(var(--bs-primary));
  }
</style>
<script src="{% static 'js/wordcloud2.js' %}"></script>
<script>

  function create_wc(list) {
    WordCloud(document.getElementById('my_canvas'), {
      list: list,
      click: function(item) {
        alert(item)
      },
      drawOutofBound: false,
      shrinkToFit: true,
    });
  }
</script>

<div id="my_canvas" style="height:200px">canvas</div><br />
<button type="button" name="button" onclick="create_wc({{list_}})">click</button>
<br />
