[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/devncnc/project/venv/bin/uwsgi -i /home/devncnc/project/jobcy/wsgi.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
