{% load static %}
<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8" />
  <title>{% block title %}{% endblock title %} | KINS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" " />
  <meta name="keywords" content="" />
  <meta content="Themesdesign" name="author" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  <style>


  </style>

  {% block css %}


  {% block extra_css %}
  {% endblock extra_css %}

  <!-- Bootstrap Css -->
  <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
  <!-- Icons Css -->
  <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
  <!-- App Css-->
  <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
  <!--Custom Css-->
  {% endblock css %}

  <style>
    .badge {
      color: #111928;
      background-color: #F3F4F6;
    }

    .vl {
      border-left: 1px solid gray;
      height: 150px;
      display: inline;
      margin-left: 10px;
    }

    .page-content {
      min-height: 100vh;
    }

    @media (min-width: 1400px) {
      .container {
      max-width: 1320px !important;
      }
    }
  </style>
</head>


<!--script>
  function loadDate() {
    document.getElementById('dateControlInput').defaultValue = new Date().toISOString().substring(0, 10);
  }
</script-->


<body>
  <div id="preloader">
    <div id="status">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>

  <div>

    {% block topbar %}
    {% include 'partials/rnd_topbar.html' %}
    {% endblock topbar %}

    {% block navbar %}
    {% include 'partials/rnd_navbar.html' %}
    {% endblock navbar %}

    {% block signupmodal %}
    {% include 'partials/signup-modal.html' %}
    {% endblock signupmodal %}

    <div class="main-content">

      <div class="page-content">

        {% block content %}
        {% endblock content %}

      </div>

      {% block subscribe %}{% endblock subscribe %}

      {% block footer %}
      {% include 'partials/footer.html' %}
      {% endblock footer %}

      {% block switcher %}
      {% include 'partials/switcher.html' %}
      {% endblock switcher %}

      <button onclick="topFunction()" id="back-to-top">
        <i class="mdi mdi-arrow-up"></i>
      </button>
    </div> <!-- <>><><><><><><><><> -->

  </div>
  {% block javascript %}

  {% endblock javascript %}

</body>

</html>
