{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}R&D 지원제도 안내{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .img-fluid {
    object-fit: scale-down;
    height: 100px !important;
    max-width: 80% !important;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">R&D  지원 프로그램 안내 </h3>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h3 class="title">개요</h3>
                </div>
            </div>
            <!--end col-->
        </div>
        <div class="row text-center">
            <p class="text-muted">
              R&D 지원 프로그램(가칭)은 다부처 연구과제에서 생성된 연구결과물(연차보고서 등)을 규제 측면에서 검토하는 프로그램입니다.<br>
              이 프로그램을 통해 다부처 연구과제에서 나오는 연구성과물을 규제 관점에서 검토하여, 국내 원자력 안전과 관련된 이해와 투명성을 확보하고자 합니다.<br><br>
              R&D 지원 프로그램의 주요 내용은 다음과 같습니다:<br>
               1. 전략과제 1, 2 검토: 과기부 및 산업부 소관 다부처 연구과제에서 나온 연구결과물을 규제 관점에서 검토합니다.<br>
               2. 홈페이지를 통한 정보 공유: 규제 측면에서의 연구 검토 사례를 홈페이지를 통해 공유하여, 연구성과물에 대한 규제 프로세스를 이해하고 접근성을 높입니다.<br>
               3. 심층처분 데이터베이스 연결: 국내 심층처분사업과 연결하여, 규제 관련 정보를 확장하고 국내 원자력 안전에 대한 규제 이해도를 높이고자 합니다.<br>
              해당 제도를 통해 규제 측면에 대한 이해와 협력을 증진시키며 지식과 투명성을 제고하여 국내 원자력 안전을 강화하는 데 일조할 계획입니다.<br>
              더 많은 정보와 업데이트는 홈페이지를 통해 확인하실 수 있습니다.<br>

            </p>
        </div>
        <!--end row-->
        <div class="row">

        </div><!--end row-->
    </div>
    <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
