{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}R&D 지원 검토 사례{% endblock title %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .img-fluid {
    object-fit: scale-down;
    height: 100px !important;
    max-width: 80% !important;
  }

  .progressbar {
    counter-reset: step;
  }

  .progressbar li {
    list-style: none;
    display: inline-block;
    width: 20%;
    position: relative;
    text-align: center;
    cursor: pointer;
  }

  .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height: 30px;
    border: 6px solid #ddd;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
  }

  .progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
  }

  .progressbar li:first-child:after {
    content: none;
  }

  .progressbar li.active {
    color: var(--bs-primary);
    font-weight: bold;
  }

  .progressbar li.active:before {
    border-color: var(--bs-primary);
  }

  .progressbar li.active+li:after {
    background-color: var(--bs-primary);
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
  }

  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 22px;
    line-height: 0px;
  }

  .topright:hover {
    color: red;
  }


</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">R&D 지원 검토 사례</h3>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<script>
  // Add active class to the current button (highlight it)
  function progress(num) {
    // active 제거
    for (i = 1; i <= 4; i++) {
      document.getElementById(`pli${i}`).classList.remove('active');
    }
    // active 추가
    for (i = 1; i <= num; i++) {
      document.getElementById(`pli${i}`).classList.add('active');
    }
  }
</script>

<script>
  function openTab(evt, num) {
    var i, tabcontent, tabli;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tabli = document.getElementsByClassName("tabli");
    for (i = 0; i < tabli.length; i++) {
      tabli[i].className = tabli[i].className.replace(" active", "");
    }
    document.getElementById(num).style.display = "block";
    evt.currentTarget.className += " active";
  }
</script>


<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div id="tabs">
          <div class="card-body p-4">
            <h6 class="card-title">검토 진행 프로세스</h6>
            <div class="mb-2 border-bottom"></div>
            <p class="text-muted">검토 진행 단계 안내</p>

            <div class="tab">
              <ul class="nav progressbar">
                <li id="pli1" onclick="progress(1); openTab(event, 'tab01')" data-toggle="tab">1. 서류접수</li>
                <li id="pli2" onclick="progress(2); openTab(event, 'tab02')" data-toggle="tab">2. 적합판정</li>
                <li id="pli3" onclick="progress(3); openTab(event, 'tab03')" data-toggle="tab">3. 종합검토</li>
                <li id="pli4" onclick="progress(4); openTab(event, 'tab04')" data-toggle="tab">4. 검토완료</li>
              </ul>
            </div>

            <div class="tab-content">
              <div id="tab01" class="tabcontent">
                <!-- <span onclick="this.parentElement.style.display='none'" class="topright">&times</span> -->
                <h5>1단계</h5>
              </div>
              <div id="tab02" class="tabcontent">
                <h5>2단계</h5></div>
              <div id="tab03" class="tabcontent">
                <h5>3단계</h5></div>
              <div id="tab04" class="tabcontent">
                <h5>4단계</h5></div>

            </div>

            <button type="button" class="btn btn-primary" style="float:right" onclick=location.href="{% url 'rnd:create_case' %}">검토작성</button>

            <!--end basic-tabs-->

            <!--end nav-pills-->
          </div>
          <!--end card-body-->
        </div>
        <!--end tabs-->
      </div>
    </div>
  </div>
</section>


{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/cloud/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/cloud/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
