{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}R&D 지원 검토 사례{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .img-fluid {
    object-fit: scale-down;
    height: 100px !important;
    max-width: 80% !important;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">검토 내용 작성</h3>

        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>


<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section>
  <div class="container">


    <div class="row justify-content-center">

      <div class="col-lg-10">

        <div class="p-2" style="display:inline">
          <label for="dateControlInput" class="form-label">작성 일자</label>
          <i class="mdi mdi-calendar-clock"></i>2023-04-18
        </div>

        <div class="p-2" style="display:inline">
          <label for="dateControlInput" class="form-label">작성자</label>
          <i class="mdi mdi-account-circle"></i> 홍길동
        </div>

        <div class="border-bottom"></div>



        <div class="mb-3">
          <label for="organization" class="form-label">기관 구분</label>
          <input type="text" class="form-control" id="" placeholder="KAERI" readonly>
        </div>


        <div class="mb-3">
          <label for="messageControlTextarea" class="form-label">피드백 요약</label>
          <textarea class="form-control" id="messageControlTextarea" rows="4" placeholder="내용" readonly></textarea>
        </div>
        <div class="mb-4">
          <label class="form-label" for="inputGroupFile01">검토 보고서</label>
          <input type="file" class="form-control" id="inputGroupFile01" readonly>
        </div>
        <div class="mb-3">
          <label for="emailControlInput2" class="form-label">담당자</label>
          <input type="text" class="form-control" id="emailControlInput2" placeholder="담당자명" readonly>
        </div>
        <div class="m-4" style="text-align:center">
          <button type="button" class="btn btn-primary" style="width:15%" onclick=location.href="{% url 'rnd:KAERI_case' %}">목록</button>



          <button type="button" class="btn btn-soft-dark" style="width:15%" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
          <div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title mt-0" id="deleteModalLabel">삭제하기</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p style="margin:1em">삭제한 게시글은 복구 할 수 없습니다. 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">취소</button>
                  <button type="button" class="btn btn-primary waves-effect waves-light" onclick=location.href="{% url 'rnd:KAERI_case' %}">확인</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- SIMPLE MODALS -->


        </div>
      </div>
    </div>
  </div>
</section>

<script>
  function temp_save() {
    // 임시 데이터 -> 데이터베이스 업로드 코드
    window.location.reload();
  }
</script>
<script>
  document.getElementById('dateControlInput').value = new Date().toISOString().substring(0, 10);;
</script>
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/cloud/candidate.init.js' %}"></script>

<!-- Job-list Init Js -->
<script src="{% static 'js/cloud/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/cloud/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
