{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
        <!-- Choise Css -->
        <link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

        <!-- Swiper Css -->
        <link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
{% endblock extra_css %}
{% block content %}
                    <!-- START HOME -->
                    <section class="bg-home" id="home" style="background: url('static/images/kins.jpg') no-repeat; background-size: cover">
                        <div class="bg-overlay" style="background-color: #1e2b38; opacity: 0.5"></div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <div class="text-center text-white mb-5">
                                        <h3 class="display-5 fw-semibold mb-3"><span class="text-warning fw-bold">R&D 지원</span><br>심층처분시스템 규제요소 개발
                                            </h3>
                                        <p class="fs-17">한국원자력 안전기술원 KINS</p>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="treding-keywords list-inline mb-0 text-white-50 mt-4 mt-lg-3 text-center">
                                        <li class="list-inline-item text-white"><i class="mdi mdi-tag-multiple-outline text-warning fs-18"></i> 핵심사업:</li>
                                        <li class="list-inline-item"><a href="javascript:void(0)">DB 구축,</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)">사업화 추진,</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)">검증 및 개발</a></li>
                                    </ul>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- End Home -->
                    <!-- START SHAPE -->
                    <div class="position-relative">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="1440" height="150" preserveAspectRatio="none" viewBox="0 0 1440 220">
                                <g mask="url(&quot;#SvgjsMask1004&quot;)" fill="none">
                                    <path d="M 0,213 C 288,186.4 1152,106.6 1440,80L1440 250L0 250z" fill="rgba(255, 255, 255, 1)"></path>
                                </g>
                                <defs>
                                    <mask id="SvgjsMask1004">
                                        <rect width="1440" height="250" fill="#ffffff"></rect>
                                    </mask>
                                </defs>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->
                    <!-- START BLOG -->
                    <section class="section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="section-title text-center mb-5">
                                        <h3 class="title mb-3">Quick Career Tips</h3>
                                        <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with the
                                            right freelancers.</p>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="blog-box card p-2 mt-3">
                                        <div class="blog-img position-relative overflow-hidden">
                                            <img src="{% static 'images/blog/img-01.jpg' %}" alt="" class="img-fluid">
                                            <div class="bg-overlay"></div>
                                            <div class="author">
                                                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a href="javascript:void(0)"
                                                        class="text-light user">Dirio Walls</a></p>
                                                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> 01 July, 2021</p>
                                            </div>
                                            <div class="likes">
                                                <ul class="list-unstyled mb-0">
                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i
                                                                class="mdi mdi-heart-outline me-1"></i> 33</a></li>
                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i
                                                                class="mdi mdi-comment-outline me-1"></i> 08</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="{% url 'blog-details' %}" class="primary-link">
                                                <h5 class="fs-17">How apps is the IT world ?</h5>
                                            </a>
                                            <p class="text-muted">The final text is not yet avaibookmark-label. Dummy texts have Internet tend
                                                been in use by typesetters since century.</p>
                                            <a href="{% url 'blog-details' %}" class="form-text text-primary">Read more <i class="mdi mdi-chevron-right align-middle"></i></a>
                                        </div>
                                    </div><!--end blog-box-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="blog-box card p-2 mt-3">
                                        <div class="blog-img position-relative overflow-hidden">
                                            <img src="{% static 'images/blog/img-02.jpg' %}" alt="" class="img-fluid">
                                            <div class="bg-overlay"></div>
                                            <div class="author">
                                                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a href="javascript:void(0)"
                                                        class="text-light user">Brandon Carney</a></p>
                                                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> 25 June, 2021</p>
                                            </div>
                                            <div class="likes">
                                                <ul class="list-unstyled mb-0">
                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i
                                                                class="mdi mdi-heart-outline me-1"></i> 44</a></li>
                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i
                                                                class="mdi mdi-comment-outline me-1"></i> 25</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="{% url 'blog-details' %}" class="primary-link">
                                                <h5 class="fs-17">Smartest Applications for Business ?</h5>
                                            </a>
                                            <p class="text-muted">Due to its widespread use as filler text for layouts, non-readability
                                                is of great importance: human perception.</p>
                                            <a href="{% url 'blog-details' %}" class="form-text text-primary">Read more <i class="mdi mdi-chevron-right align-middle"></i></a>
                                        </div>
                                    </div><!--end blog-box-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="blog-box card p-2 mt-3">
                                        <div class="blog-img position-relative overflow-hidden">
                                            <img src="{% static 'images/blog/img-03.jpg' %}" alt="" class="img-fluid">
                                            <div class="bg-overlay"></div>
                                            <div class="author">
                                                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a href="javascript:void(0)"
                                                        class="text-light user">William Mooneyhan</a></p>
                                                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i> 16 March, 2021
                                                </p>
                                            </div>
                                            <div class="likes">
                                                <ul class="list-unstyled mb-0">
                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-heart-outline me-1"></i> 68</a></li>
                                                    <li class="list-inline-item"><a href="javascript:void(0)" class="text-white"><i class="mdi mdi-comment-outline me-1"></i> 20</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <a href="{% url 'blog-details' %}" class="primary-link">
                                                <h5 class="fs-17">Design your apps in your own way ?</h5>
                                            </a>
                                            <p class="text-muted">One disadvantage of Lorum Ipsum is that in Latin certain letters
                                                appear more frequently than others.</p>
                                            <a href="{% url 'blog-details' %}" class="form-text text-primary">Read more <i class="mdi mdi-chevron-right align-middle"></i></a>
                                        </div>
                                    </div><!--end blog-box-->
                                </div><!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- END BLOG -->
                    <!--START CTA-->
                    <section class="section bg-light">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <div class="text-center">
                                        <h2 class="text-primary mb-4">Browse Our <span class="text-warning fw-bold">5,000+</span> Latest
                                            Jobs</h2>
                                        <p class="text-muted">Post a job to tell us about your project. We'll quickly match you with
                                            the right freelancers.</p>
                                        <div class="mt-4 pt-2">
                                            <a href="javascript:void(0)" class="btn btn-primary btn-hover">Started Now <i class="uil uil-rocket align-middle ms-1"></i></a>
                                        </div>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!--END CTA-->
                    <!-- START APPLY MODAL -->
                    <div class="modal fade" id="applyNow" tabindex="-1" aria-labelledby="applyNow" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body p-5">
                                    <div class="text-center mb-4">
                                        <h5 class="modal-title" id="staticBackdropLabel">Apply For This Job</h5>
                                    </div>
                                    <div class="position-absolute end-0 top-0 p-3">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="mb-3">
                                        <label for="nameControlInput" class="form-label">Name</label>
                                        <input type="text" class="form-control" id="nameControlInput" placeholder="Enter your name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="emailControlInput2" class="form-label">Email Address</label>
                                        <input type="email" class="form-control" id="emailControlInput2" placeholder="Enter your email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="messageControlTextarea" class="form-label">Message</label>
                                        <textarea class="form-control" id="messageControlTextarea" rows="4" placeholder="Enter your message"></textarea>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label" for="inputGroupFile01">Resume Upload</label>
                                        <input type="file" class="form-control" id="inputGroupFile01">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100">Send Application</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- END APPLY MODAL -->
{% endblock content %}
{% block javascript %}

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

        <!-- Choice Js -->
        <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

        <!-- Swiper Js -->
        <script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

        <!-- Job-list Init Js -->
        <script src="{% static 'js/cloud/job-list.init.js' %}"></script>

        <!-- Switcher Js -->
        <script src="{% static 'js/cloud/switcher.init.js' %}"></script>

        <script src="{% static 'js/cloud/index.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
