{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}기관소개{% endblock title %}
{% block content %}
                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">기관소개</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Components </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->

                    <!-- START COMPONETS-PAGE -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="d-none d-lg-block card" style="padding: 12px; position:sticky; top:90px;">
                                        <ul class="nav nav-pills flex-column" id="elementsBar">
                                            <li class="nav-item">
                                                <a href="#typography" class="nav-link">검토기관 소개</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#buttons" class="nav-link">검토기관 안내</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="#grid" class="nav-link">조직도/연락처</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#video" class="nav-link">오시는길</a>
                                            </li>
                                        </ul>
                                    </div><!--end ui-elements-->
                                </div><!--end col-->
                                <div class="col-lg-8">
                                    <div class="card"  id="typography">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">검토기관 소개</h5>
                                        </div>
                                        <div class="card-body p-4">
                                          <div style="height:250px; border: 1px solid black;"></div>
                                        </div>
                                        <div class="card-body p-4">
                                          <div style="height:50px; border: 1px solid black;"></div>

                                        </div>
                                    </div>
                                    <div class="card mt-4">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">검토기관 안내</h5>
                                        </div>
                                        <div class="card-body p-4">
                                          <div style="height:250px; border: 1px solid black;"></div>

                                        </div>
                                    </div>
                                    <div class="card mt-4" id="images">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">조직도/연락처 </h5>
                                        </div>
                                        <div class="card-body p-4">

                                            <h6 class="card-title">Image</h6>
                                            <p class="text-muted">Use classes </p>
                                            <div style="height:250px; border: 1px solid black;"></div>

                                        </div>
                                    </div><!--end images-->

                                    <div class="card mt-4" id="modals">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">오시는길</h5>
                                        </div>
                                        <div class="card-body p-4">

                                            <h6 class="card-title">Basic</h6>
                                            <p class="text-muted">Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>

                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">Standard modal</button>
                                            <!-- SIMPLE MODALS -->
                                            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title mt-0" id="myModalLabel">Modal Heading</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Cras mattis consectetur purus sit amet fermentum.
                                                                Cras justo odio, dapibus ac facilisis in,
                                                                egestas eget quam. Morbi leo risus, porta ac
                                                                consectetur ac, vestibulum at eros.</p>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- SIMPLE MODALS -->
                                        </div>
                                    </div><!--end modal-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END COMPONETS-PAGE -->
{% endblock content %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Gumshoe Js -->
        <script src="{% static 'libs/gumshoejs/dist/gumshoe.min.js' %}"></script>

        <script src="{% static 'libs/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

        <!-- Switcher Js -->
        <script src="{% static 'js/cloud/switcher.init.js' %}"></script>

        <script src="{% static 'js/cloud/componets.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
