{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}기관소개{% endblock title %}
{% block content %}
                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">기관소개</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Components </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->

                    <!-- START COMPONETS-PAGE -->
                    <section class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="d-none d-lg-block card" style="padding: 12px">
                                        <ul class="nav nav-pills flex-column" id="elementsBar">
                                            <li class="nav-item">
                                                <a href="#typography" class="nav-link">검토기관 소개</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#buttons" class="nav-link">검토기관 안내</a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="#grid" class="nav-link">조직도/연락처</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#video" class="nav-link">오시는길</a>
                                            </li>
                                        </ul>
                                    </div><!--end ui-elements-->
                                </div><!--end col-->
                                <div class="col-lg-8">
                                    <div class="card"  id="typography">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Font Family</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-4">
                                                    <h1 class="display-4 mb-0">A</h1>
                                                </div>
                                                <div class="flex-grow-1 align-self-center">
                                                    <p class="text-muted mb-2">Font Family</p>
                                                    <h5 class="mb-0">"Inter", sans-serif</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body p-4">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="d-flex align-items-center mt-4 mt-sm-0">
                                                        <div class="flex-shrink-0 me-4">
                                                            <h1 class="fw-normal display-4 mb-0">Aa</h1>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <p class="text-muted mb-2">Font Weight</p>
                                                            <h4 class="mb-0">400</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="d-flex align-items-center">
                                                        <div class="flex-shrink-0 me-4">
                                                            <h1 class="fw-medium display-4 mb-0">Aa</h1>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <p class="text-muted mb-2">Font Weight</p>
                                                            <h4 class="mb-0">500</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="d-flex align-items-center mt-4 mt-sm-0">
                                                        <div class="flex-shrink-0 me-4">
                                                            <h1 class="fw-semibold display-4 mb-0">Aa</h1>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <p class="text-muted mb-2">Font Weight</p>
                                                            <h4 class="mb-0">600</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mt-4">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Typography Heading</h5>
                                        </div>
                                        <div class="card-body p-4">

                                            <h6 class="card-title">Headings</h6>
                                            <p class="text-muted">All HTML headings, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>, are available.</p>

                                            <h1 class="mb-3">h1. Bootstrap heading</h1>

                                            <h2 class="mb-3">h2. Bootstrap heading</h2>

                                            <h3 class="mb-3">h3. Bootstrap heading</h3>

                                            <h4 class="mb-3">h4. Bootstrap heading</h4>

                                            <h5 class="mb-3">h5. Bootstrap heading</h5>

                                            <h6>h6. Bootstrap heading</h6>
                                        </div>
                                    </div>
                                    <div class="card mt-4" id="buttons">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Buttons</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <h6 class="card-title">Basic Buttons</h6>
                                            <p class="text-muted">
                                                Bootstrap includes six predefined button styles, each serving its own semantic purpose..
                                            </p>
                                            <div class="d-flex flex-wrap gap-2">
                                                <button type="button" class="btn btn-primary">Primary</button>
                                                <button type="button" class="btn btn-secondary">Secondary</button>
                                                <button type="button" class="btn btn-success">Success</button>
                                                <button type="button" class="btn btn-info">Info</button>
                                                <button type="button" class="btn btn-warning">Warning</button>
                                                <button type="button" class="btn btn-danger">Danger</button>
                                                <button type="button" class="btn btn-purple">Purple</button>
                                                <button type="button" class="btn btn-dark">Dark</button>
                                                <button type="button" class="btn btn-light">Light</button>
                                            </div>
                                            <div class="mt-5">
                                                <h6 class="card-title">Soft Buttons</h6>
                                                <p class="text-muted">
                                                    Use <code>.bg-soft-*</code> class for a badge lighten.
                                                </p>
                                                <div class="d-flex flex-wrap gap-2">
                                                    <button type="button" class="btn btn-soft-primary">Primary</button>
                                                    <button type="button" class="btn btn-soft-secondary">Secondary</button>
                                                    <button type="button" class="btn btn-soft-success">Success</button>
                                                    <button type="button" class="btn btn-soft-info">Info</button>
                                                    <button type="button" class="btn btn-soft-warning">Warning</button>
                                                    <button type="button" class="btn btn-soft-danger">Danger</button>
                                                    <button type="button" class="btn btn-soft-purple">Purple</button>
                                                    <button type="button" class="btn btn-soft-dark">Dark</button>
                                                    <button type="button" class="btn btn-soft-light">Light</button>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <h6 class="card-title">Outline Buttons</h6>
                                                <p class="text-muted">Replace the default modifier classes with the <code class="highlighter-rouge">           .btn-outline-*</code> ones to remove all background images and colors on any button.</p>
                                                <div class="d-flex flex-wrap gap-2">
                                                    <button type="button" class="btn btn-outline-primary">Primary</button>
                                                    <button type="button" class="btn btn-outline-secondary">Secondary</button>
                                                    <button type="button" class="btn btn-outline-success">Success</button>
                                                    <button type="button" class="btn btn-outline-info">Info</button>
                                                    <button type="button" class="btn btn-outline-warning">Warning</button>
                                                    <button type="button" class="btn btn-outline-danger">Danger</button>
                                                    <button type="button" class="btn btn-outline-purple">Purple</button>
                                                    <button type="button" class="btn btn-outline-dark">Dark</button>
                                                </div>
                                            </div>
                                            <div class="mt-5">
                                                <h6 class="card-title">Rounded Buttons</h6>
                                                <p class="text-muted">
                                                    Use the <code>.rounded-pill</code> modifier class to make badges more rounded.
                                                </p>
                                                <div class="d-flex flex-wrap gap-2">
                                                    <button type="button" class="btn btn-primary rounded-pill">Primary</button>
                                                    <button type="button" class="btn btn-secondary rounded-pill">Secondary</button>
                                                    <button type="button" class="btn btn-success rounded-pill">Success</button>
                                                    <button type="button" class="btn btn-info rounded-pill">Info</button>
                                                    <button type="button" class="btn btn-warning rounded-pill">Warning</button>
                                                    <button type="button" class="btn btn-danger rounded-pill">Danger</button>
                                                    <button type="button" class="btn btn-purple rounded-pill">Purple</button>
                                                    <button type="button" class="btn btn-dark rounded-pill">Dark</button>
                                                    <button type="button" class="btn btn-light rounded-pill">Light</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end buttons-->
                                    <div class="card mt-4" id="dropdowns">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Dropdowns</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <p class="card-title-desc">
                                                Any single <code class="highlighter-rouge">.btn</code> can be turned into a dropdown
                                                toggle with some markup changes. Here’s how you can put them to work
                                                with either <code class="highlighter-rouge">&lt;button&gt;</code>
                                                elements:
                                            </p>
                                            <div class="d-flex gap-2 flex-wrap">
                                                <div class="dropdown">
                                                    <button class="btn btn-primary" type="button" id="dropdownMenuprimary" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Primary
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuprimary">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary" type="button" id="dropdownMenusecondary" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Secondary
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenusecondary">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-info" type="button" id="dropdownMenuinfo" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Info
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuinfo">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-success" type="button" id="dropdownMenusuccess" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Success
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenusuccess">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-warning" type="button" id="dropdownMenuwarning" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Warning
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuwarning">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-danger" type="button" id="dropdownMenudanger" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Danger
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenudanger">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown">
                                                    <button class="btn btn-dark" type="button" id="dropdownMenudark" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Dark
                                                    <span class="arrow-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenudark">
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                    <li><a class="dropdown-item" href="javascript:void(0)">Something else</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end dropdowns-->
                                    <div class="card mt-4" id="alerts">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Alerts</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <h6 class="card-title">Basic</h6>
                                            <p class="text-muted">Alerts are available for any length of text, as well as an optional close button.</p>
                                            <div>
                                                <div class="alert  bg-soft-primary" role="alert">
                                                    A simple primary alert—check it out!
                                                </div>
                                                <div class="alert  bg-soft-secondary" role="alert">
                                                    A simple secondary alert—check it out!
                                                </div>
                                                <div class="alert  bg-soft-success" role="alert">
                                                    A simple success alert—check it out!
                                                </div>
                                                <div class="alert  bg-soft-purple" role="alert">
                                                    A simple purple alert—check it out!
                                                </div>
                                                <div class="alert  bg-soft-danger" role="alert">
                                                    A simple danger alert—check it out!
                                                </div>
                                                <div class="alert  bg-soft-warning" role="alert">
                                                    A simple warning alert—check it out!
                                                </div>
                                                <div class="alert  bg-soft-info" role="alert">
                                                    A simple info alert—check it out!
                                                </div>
                                            </div>

                                        </div>
                                    </div><!--end alerts-->
                                    <div class="card mt-4" id="images">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Images </h5>
                                        </div>
                                        <div class="card-body p-4">

                                            <h6 class="card-title">Image Sizes</h6>
                                            <p class="text-muted">Use classes <code>.avatar-*</code>.</p>
                                            <div>
                                                <img src="{% static 'images/user/img-02.jpg' %}" alt="" class="avatar-xs">
                                                <img src="{% static 'images/user/img-02.jpg' %}" alt="" class="avatar-sm">
                                                <img src="{% static 'images/user/img-02.jpg' %}" alt="" class="avatar-md">
                                                <img src="{% static 'images/user/img-02.jpg' %}" alt="" class="avatar-lg">
                                            </div>
                                        </div>
                                    </div><!--end images-->

                                    <div class="card mt-4" id="tabs">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Tabs</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <div>
                                                <h6 class="card-title">Basic Tabs</h6>
                                                <p class="text-muted">Example of Default Nav Tabs</p>
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-bs-toggle="tab" href="#hometab" role="tab">
                                                            <span>Home</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#profile" role="tab">
                                                            <span>Profile</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#messages" role="tab">
                                                            <span>Messages</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#settings" role="tab">
                                                            <span>Settings</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content p-3 border border-top-0 rounded-bottom text-muted">
                                                    <div class="tab-pane active" id="hometab" role="tabpanel">
                                                        <p class="mb-0">
                                                            Raw denim you probably haven't heard of them jean shorts Austin.
                                                            Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                                                            cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                                                            butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh
                                                            iphone. Seitan aliquip butcher voluptate nisi qui.
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane" id="profile" role="tabpanel">
                                                        <p class="mb-0">
                                                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                            single-origin coffee squid. Exercitation +1 labore velit, blog
                                                            sartorial PBR leggings next level wes anderson artisan four loko
                                                            farm-to-table craft beer twee. Qui photo booth letterpress,
                                                            aesthetic magna delectus.
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane" id="messages" role="tabpanel">
                                                        <p class="mb-0">
                                                            Etsy mixtape wayfarers, ethical wes anderson tofu before they
                                                            sold out mcsweeney's organic lomo retro fanny pack lo-fi
                                                            farm-to-table readymade. Messenger bag gentrify pitchfork
                                                            tattooed craft beer, iphone skateboard locavore carles etsy
                                                            mi whatever gluten yr.
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane" id="settings" role="tabpanel">
                                                        <p class="mb-0">
                                                            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                                                            art party before they sold out master cleanse gluten-free squid
                                                            scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                                                            art party locavore wolf cliche high life echo park Austin. Cred
                                                            vinyl keffiyeh DIY salvia farm-to-table VHS.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><!--end basic-tabs-->
                                            <div class="mt-5">
                                                <h6 class="card-title">Basic Nav Pills</h6>
                                                <p class="text-muted">Example of Default Nav Tabs</p>
                                                <ul class="nav nav-pills custom" role="tablist">
                                                    <li class="nav-item waves-effect waves-light">
                                                        <a class="nav-link active" data-bs-toggle="tab" href="#home-1" role="tab">
                                                            <span>Home</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item waves-effect waves-light">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#profile-1" role="tab">
                                                            <span>Profile</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item waves-effect waves-light">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#messages-1" role="tab">
                                                            <span>Messages</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item waves-effect waves-light">
                                                        <a class="nav-link" data-bs-toggle="tab" href="#settings-1" role="tab">
                                                            <span>Settings</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content p-3 text-muted">
                                                    <div class="tab-pane active" id="home-1" role="tabpanel">
                                                        <p class="mb-0">
                                                            Raw denim you probably haven't heard of them jean shorts Austin.
                                                            Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache
                                                            cliche tempor, williamsburg carles vegan helvetica. Reprehenderit
                                                            qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                                                            iphone. Seitan aliquip quis cardigan american apparel
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane" id="profile-1" role="tabpanel">
                                                        <p class="mb-0">
                                                            Food truck fixie locavore, accusamus mcsweeney's marfa nulla
                                                            single-origin coffee squid. Exercitation +1 labore velit, blog
                                                            sartorial PBR leggings next level wes anderson artisan four loko
                                                            farm-to-table craft beer twee. Qui photo booth letterpress,
                                                            vinyl cillum PBR. Homo nostrud organic labore
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane" id="messages-1" role="tabpanel">
                                                        <p class="mb-0">
                                                            Etsy mixtape wayfarers, ethical wes anderson tofu before they
                                                            sold out mcsweeney's organic lomo retro fanny pack lo-fi
                                                            farm-to-table readymade. Messenger bag gentrify pitchfork
                                                            tattooed craft beer, iphone skateboard locavore carles etsy
                                                            Leggings gentrify squid 8-bit cred pitchfork
                                                        </p>
                                                    </div>
                                                    <div class="tab-pane" id="settings-1" role="tabpanel">
                                                        <p class="mb-0">
                                                            Trust fund seitan letterpress, keytar raw denim keffiyeh etsy
                                                            art party before they sold out master cleanse gluten-free squid
                                                            scenester freegan cosby sweater. Fanny pack portland seitan DIY,
                                                            vinyl keffiyeh DIY salvia PBR, banh mi before they sold out
                                                            farm-to-table.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div><!--end nav-pills-->
                                        </div><!--end card-body-->
                                    </div><!--end tabs-->
                                    <div class="card mt-4" id="offcanvas">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Offcanvas</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <p class="text-muted">Use the buttons below to show and hide an offcanvas element via JavaScript that toggles the <code>.show</code> class on an element with the <code>.offcanvas</code> class.</p>

                                            <div class="d-flex flex-wrap gap-2">
                                                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                                    Link with href
                                                </a>
                                                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                                                    Button with data-bs-target
                                                </button>
                                            </div>
                                            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" aria-hidden="true" style="visibility: hidden;">
                                                <div class="offcanvas-header">
                                                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
                                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                                </div>
                                                <div class="offcanvas-body">
                                                    <div>
                                                        Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
                                                    </div>
                                                    <div class="dropdown mt-3">
                                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
                                                            Dropdown button <i class="mdi mdi-chevron-down"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <li><a class="dropdown-item" href="javascript:void(0)">Action</a></li>
                                                            <li><a class="dropdown-item" href="javascript:void(0)">Another action</a></li>
                                                            <li><a class="dropdown-item" href="javascript:void(0)">Something else here</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div><!--end offcanvas-->
                                        </div><!--end card-body-->
                                    </div><!--end offcanvas-->
                                    <div class="card mt-4" id="modals">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Modals</h5>
                                        </div>
                                        <div class="card-body p-4">

                                            <h6 class="card-title">Basic</h6>
                                            <p class="text-muted">Toggle a working modal demo by clicking the button below. It will slide down and fade in from the top of the page.</p>

                                            <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#myModal">Standard modal</button>
                                            <!-- SIMPLE MODALS -->
                                            <div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title mt-0" id="myModalLabel">Modal Heading</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Cras mattis consectetur purus sit amet fermentum.
                                                                Cras justo odio, dapibus ac facilisis in,
                                                                egestas eget quam. Morbi leo risus, porta ac
                                                                consectetur ac, vestibulum at eros.</p>

                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- SIMPLE MODALS -->
                                        </div>
                                    </div><!--end modal-->
                                    <div class="card mt-4" id="video">
                                        <div class="p-4 border-bottom">
                                            <h5 class="mb-0">Video</h5>
                                        </div>
                                        <div class="card-body p-4">
                                            <div>
                                                <h6 class="card-title">Responsive Embed Video 16:9</h6>
                                                <p class="text-muted">Aspect ratios can be customized with modifier classes.</p>
                                                <div class="ratio ratio-16x9">
                                                    <iframe src="https://www.youtube.com/embed/1y_kfWUCFDQ" title="YouTube video" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div><!--end card-body-->
                                    </div><!--end video-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END COMPONETS-PAGE -->
{% endblock content %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Gumshoe Js -->
        <script src="{% static 'libs/gumshoejs/dist/gumshoe.min.js' %}"></script>

        <script src="{% static 'libs/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>

        <!-- Switcher Js -->
        <script src="{% static 'js/cloud/switcher.init.js' %}"></script>

        <script src="{% static 'js/cloud/componets.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
