{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}R&D 지원 검토 사례{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .img-fluid {
    object-fit: scale-down;
    height: 100px !important;
    max-width: 80% !important;
  }

th {
  font-weight: 800 !important;
  background-color: whitesmoke !important;
}

.link:hover {
  color: blue;
  cursor: pointer;
}

.link:hover p{
  text-decoration: underline;
}

</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">{{ reg.title }}</h3>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>


<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section class="section">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-12">



        <table class="table table-bordered mb-0">
          <tbody>
            <tr>
              <th>작성자</th>
              <td>{{ reg.writer }}</td>
              <th>작성시간</th>
              <td>{{ reg.creation_date|date:"Y-m-d" }}</td>
            </tr>
            <tr>
              <th>첨부파일</th>
              <td colspan="3">
                  <ul class="profile-document list-unstyled mb-0">
                    <li class="link" onclick=location.href="{% url 'rnd:download_regulation_file' filename=reg.file %}">
                      <div class="profile-document-list d-flex align-items-center">
                        <div class="d-flex vertical-align-middle">
                          <i class="uil uil-import"></i>
                          <p class="fs-14 mb-0 ms-2">
                            {{ reg.file.name }}
                          </p>
                          <p class="fs-12 mb-0">({{ reg.file.size|filesizeformat }})
                          </p>
                        </div>
                      </div>
                    </li>

                  </ul>
              </td>
            </tr>
            <tr>
              <th>내용</th>
              <td colspan="3" style="height:200px"></td>
            </tr>
          </tbody>
        </table>


        <div class="m-4" style="text-align:center">
          <button type="button" class="btn btn-primary" style="width:15%" onclick=location.href="{% url 'rnd:regulation' %}">목록</button>



          <button type="button" class="btn btn-soft-dark" style="width:15%" data-bs-toggle="modal" data-bs-target="#deleteModal">삭제</button>
          <div id="deleteModal" class="modal fade" tabindex="-1" aria-labelledby="deleteModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title mt-0" id="deleteModalLabel">삭제하기</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p style="margin:1em">삭제한 게시글은 복구 할 수 없습니다. 삭제하시겠습니까?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary waves-effect" data-bs-dismiss="modal">취소</button>
                  <button type="button" class="btn btn-primary waves-effect waves-light" onclick=location.href="{% url 'rnd:KAERI_case' %}">확인</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- SIMPLE MODALS -->


        </div>
      </div>
    </div>
  </div>
</section>



<script>
  function temp_save() {
    // 임시 데이터 -> 데이터베이스 업로드 코드
    window.location.reload();
  }
</script>
<script>
  document.getElementById('dateControlInput').value = new Date().toISOString().substring(0, 10);;
</script>
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/cloud/candidate.init.js' %}"></script>

<!-- Job-list Init Js -->
<script src="{% static 'js/cloud/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/cloud/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
