hi

{% load paginate %}

{{ page_obj }}
{% for doc in page_obj %}
{{ doc }}
{% endfor %}


{% if page_obj.has_previous %}
<li class="page-item">
    <a class="page-link" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}" tabindex="-1">

    <i class="mdi mdi-chevron-double-left fs-15"></i>
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <a class="page-link" href="javascript:void(0)">

    <i class="mdi mdi-chevron-double-left fs-15"></i>
  </a>
</li>
{% endif %}


{% for page_number in page_obj.paginator.page_range %}
{{ page_number }}
{% if page_number == page_obj.number %}
<li class="page-item active" aria-current="page">
  <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
</li>
{% else %}
<li class="page-item">
  <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
</li>
{% endif %}
{% endfor %}


{% if page_obj.has_next %}
<li class="page-item">
  <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %} ">
    <i class="mdi mdi-chevron-double-right fs-15"></i>
  </a>
</li>
{% else %}
<li class="page-item disabled">
  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
    <i class="mdi mdi-chevron-double-right fs-15"></i>
  </a>
</li>
{% endif %}
