
<script>
  const drawWordCloud = () => {
  const words = [
    ["superman", 27],
    ["batman", 8],
    ["superhero", 7],
    ["supergirl", 3],
    ["lois lane", 7],
    ["kryptonite", 9],
    ["wonder woman", 2],
    ["lex luthor", 5],
    ["dc comics", 4],
    ["krypton", 3],
    ["smallville", 3],
    ["cape", 2],
    ["daily planet", 2],
    ["superboy", 1],
    ["jor-el", 1],
    ["metropolis", 3],
    ["clark kent", 5],
    ["christopher reeve", 1],
    ["united states", 1],
    ["action comics", 1],
    ["demigod", 1],
    ["clark", 3],
    ["superheroes", 3],
    ["aquaman", 1],
    ["movie", 1],
    ["villain", 1],
    ["cartoon", 1],
    ["high school", 1],
    ["supervillain", 1],
    ["kent", 2],
    ["spider man", 1],
    ["comic books", 1],
    ["marvel comic", 1],
    ["silver surfer", 1],
    ["american comic book", 1],
    ["flash", 1],
    ["lois", 3],
    ["super hero", 1],
    ["justice league", 2],
    ["captain", 1],
    ["monster", 1],
    ["action", 1],
    ["justice league of america", 2],
    ["justice", 1],
    ["invisible man", 1],
    ["spider-man", 1],
    ["zod", 2],
    ["doomsday", 2],
    ["spiderman", 1],
    ["homelander", 1],
    ["lex", 2]
  ];

  if (WordCloud.isSupported) {
    const wordCloudCanvas = document.getElementById('word-cloud-canvas');
    const wordCloudHtml = document.getElementById('word-cloud-html');
    const wordCloudCanvasHoverBox = document.getElementById('word-cloud-canvas-hover-box');
    const elements = [wordCloudCanvas, wordCloudHtml];
    const originalWords = words.map(x => ({ word: x[0], count: x[1] }));
    const options = {
      list: words,
      gridSize: 10,
      weightFactor: 8,
      fontFamily: "sans-serif",
      color: 'random-dark',
      rotateRatio: 0,
      rotationSteps: 2,
      shape: "circle",
      ellipticity: 0.6,
      shrinkToFit: true,
      minSize: 6,
      classes: 'word-cloud-item',
      click: (item, dimension, event) => {
        // We lookup the original item to get the accurate count
        // because the 'shrinkToFit' option changes the count to fit the word
        const originalItem = originalWords.find(x => x.word === item[0]);
        alert(`${originalItem.word}: ${originalItem.count}`);
      },
      // This is not working correctly
      /*
      hover: (item, dimension, event) => {
        if (!dimension) {
          wordCloudCanvasHoverBox.hidden = true;
          return;
        }

        wordCloudCanvasHoverBox.hidden = false;
        wordCloudCanvasHoverBox.style.left = dimension.x + 'px';
        wordCloudCanvasHoverBox.style.top = dimension.y + 'px';
        wordCloudCanvasHoverBox.style.width = dimension.w + 'px';
        wordCloudCanvasHoverBox.style.height = dimension.h + 'px';
      }
      */
    };
    WordCloud(elements, options);

    // We have to add our own click handler to the HTML-based version
    // because the library only handles clicks on the canvas-based version
    wordCloudCanvas.addEventListener('wordcloudstop', function (e) {
      document.querySelectorAll('.word-cloud-item').forEach(function (element) {
          element.addEventListener('click', event => {
            const originalItem = originalWords.find(x => x.word === element.textContent);
            alert(`${originalItem.word}: ${originalItem.count}`);
          });
      });
});
  } else {
    console.log('WordCloud not supported');
  }
};

const redrawButton = document.getElementById('redrawButton');
redrawButton.addEventListener('click', drawWordCloud);

drawWordCloud();
</script>


<div class="text-center">
  <button id="redrawButton" class="button-3" role="button">Redraw</button>
</div>
<br />
<div class="word-cloud-container">
  <div class="word-cloud-card">
    <div class="word-cloud-title">Canvas-based Word Cloud</div>
    <canvas id="word-cloud-canvas" width="800px" height="400px"></canvas>
    <div id="word-cloud-canvas-hover-box" hidden></div>
  </div>
  <div class="word-cloud-card">
    <div class="word-cloud-title">HTML-based Word Cloud</div>
    <div id="word-cloud-html" width="800px" height="400px"></div>
    <div id="word-cloud-canvas-hover-box" hidden></div>
  </div>
</div>

<style>
  body {
  font-family: sans-serif;
}

.text-center {
  text-align: center;
}

.word-cloud-container {
  display: flex;
}

.word-cloud-card {
  width: 100%;
}

.word-cloud-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  text-decoration: underline;
}

#word-cloud-canvas-hover-box {
  pointer-events: none;
  position: absolute;
  box-shadow: 0 0 200px 200px rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border-style: solid;
  cursor: pointer;
}

#word-cloud-html > span {
    transition: text-shadow 1s ease, opacity 1s ease;
    -webkit-transition: text-shadow 1s ease, opacity 1s ease;
    -ms-transition: text-shadow 1s ease, opacity 1s ease;
  }

 #word-cloud-html > span:hover {
    text-shadow: 0 0 10px, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
    opacity: 0.5;
  }

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}
</style>
