{% extends 'partials/rnd_base.html' %}
{% load static %}
{% load paginate %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h2 class="mb-4">규제사례 데이터베이스</h2>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START JOB-LIST -->
<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">

        <div class="job-list-header">
          <form method="post" name="search_filter" id="search_filter">
            {% csrf_token %}

            <div class="row g-2">

              <div class="col-lg-4 col-md-6">
                <div class="filler-job-form">
                  <i class="uil uil-clipboard-notes"></i>
                  <select class="form-select " data-trigger name="choices-single-categories" id="choices-single-categories" aria-label="Default select example">
                    <option value="">분류</option>
                    <option value="1">모암</option>
                    <option value="2">산업시설</option>
                    <option value="3">사회적 관점</option>
                    <option value="4">사회적 관념</option>
                  </select>
                </div>
              </div>
              <!--end col-->

              <div class="col-lg-4 col-md-6">
                <div class="filler-job-form">
                  <i class="uil uil-layer-group"></i>
                  <select class="form-select" data-trigger name="choices-single-groups" id="choices-single-groups" aria-label="Default select example">

                    <option value="">그룹</option>
                    <option value="1">안전성</option>
                    <option value="EH">기술</option>
                    <option value="YE">토지와 환경</option>
                    <option value="ZM">사회</option>
                  </select>
                </div>
              </div>
              <!--end col-->
              <div class="col-lg-4 col-md-6">
                <div class="filler-job-form">
                  <i class="uil uil-create-dashboard"></i>
                  <select class="form-select" data-trigger name="choices-single-site" id="choices-single-site" aria-label="Default select example">

                    <option value="">부지인자</option>
                    <option value="YE">지하수 조성</option>
                    <option value="ZM">암반을 통한 핵종이동</option>
                    <option value="ZW">조사가능성</option>
                    <option value="ZW">암석의 구성과 구조</option>
                    <option value="ZW">암석 건설 및 작업환경</option>
                    <option value="ZW">운송</option>
                    <option value="ZW">산업설비</option>
                    <option value="ZW">지연사회자원</option>
                    <option value="ZW">사회적 관점</option>
                    <option value="ZW">모암의 격납 및 격리 특성</option>
                    <option value="ZW">부지의 장기적 안전성</option>
                    <option value="ZW">처분장 구성, 운영 및 폐쇄</option>
                    <option value="ZW">부지특성</option>
                    <option value="ZW">인간침입</option>
                    <option value="ZW">운송</option>
                  </select>
                </div>
              </div>
              <!--end col-->

              <div class="col-lg-8">
                <div class="filler-job-form">
                  <i class="uil uil-search"></i>

                  <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" name="search" value="{{ search }} " onfocus="this.value=''" placeholder="검색어 입력" onblur="this.value=this.value.trim();">
                  <input type="hidden" class="form-control filter-job-input-box" id="keyInput" name="key" value="{{ key }} " onfocus="this.value=''" onblur="this.value=this.value.trim();">

                  <input type="hidden" id="fieldFormControlInput" name="field" value="title" onfocus="this.value=''" placeholder="태그 입력">
                </div>
              </div>

              <!--end col-->


              <div class="col-lg-4">
                  <button type="submit" href="javascript:void(0)" class="btn btn-primary w-50"><i class="uil uil-filter"></i> Filter</button>
                  <a href="{% url 'database' company='UNIST' institution='스웨덴' %}" style="padding-left:10px;">Clear<i class="uil uil-multiply""></i></a>

              </div>

            </div>
          </form>
        </div>
        <!--end job-list-header-->
      </div>
    </div>
    <!--end row-->
    <div class=" row justify-content-center">
                      <div class="col-lg-12">
                        <div class="candidate-list-widgets mb-4">
                        </div>
                      </div>
                </div>
                <!--end row-->

                <div class=" row align-items-center">
                  <div class="col-lg-8">
                    <div class="mb-3 mb-lg-0">
                      <h6 class="fs-16 mb-0" style="font-weight:200; color: gray"> Showing
                        <b>{{ page_obj.paginator.count }} results</b>

                        {% if field == "key" %} for #{{ search }} {% elif field == "title" and search %} for "{{ search }}" {% else %} - {% endif %}
                      </h6>
                    </div>
                  </div>

                  <!--end col-->
                  <div class="col-lg-4">
                    <div class="candidate-list-widgets">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="selection-widget">
                            <select class="form-select" data-trigger name="choices-single-filter-orderby" id="choices-single-filter-orderby" aria-label="Default select example">
                              <option value="df">Default</option>
                              <option value="ne">Newest</option>
                              <option value="od">Oldest</option>
                              <option value="rd">Random</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="selection-widget mt-2 mt-lg-0">
                            <select class="form-select" data-trigger name="choices-candidate-page" id="choices-candidate-page" aria-label="Default select example">
                              <option value="df">All</option>
                              <option value="ne">8 per Page</option>
                              <option value="ne">12 per Page</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--end candidate-list-widgets-->
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
                <div class="row">
                  <div class="col-lg-12">
                    <div class="candidate-list">

                      {% for doc in page_obj %}
                      <!-- start card -->
                      {% include 'partials/unist_card.html' %}
                      <!--end card-->
                      {% endfor %}

                      <script>
                        function searchKey(key_content) {
                          var form = document.getElementById('search_filter');

                          document.getElementById('exampleFormControlInput1').value = key_content;
                          document.getElementById('fieldFormControlInput').value = 'key';
                          form.submit();
                        }
                      </script>


                    </div>
                    <!--end candidate-list-->
                  </div>
                  <!--end col-->

                </div>
                <!--end row-->

                <div class="row">
                  <div class="col-lg-12 mt-5">
                    <nav>
                      <ul class="pagination job-pagination mb-0 justify-content-center">

                        {% if page_obj.has_previous %}
                        <li class="page-item">
                          <a class="page-link" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}" tabindex="-1">

                            <i class="mdi mdi-chevron-double-left fs-15"></i>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="javascript:void(0)">

                            <i class="mdi mdi-chevron-double-left fs-15"></i>
                          </a>
                        </li>
                        {% endif %}


                        {% for page_number in page_obj.paginator.page_range %}
                        {% if page_number == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                          <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                          <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}


                        {% if page_obj.has_next %}
                        <li class="page-item">
                          <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %} ">
                            <i class="mdi mdi-chevron-double-right fs-15"></i>
                          </a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                            <i class="mdi mdi-chevron-double-right fs-15"></i>
                          </a>
                        </li>
                        {% endif %}

                      </ul>
                    </nav>
                  </div>
                  <!--end col-->
                </div><!-- end row -->

              </div>
              <!--end container-->
</section>
<!-- END JOB-LIST -->
{% endblock content %}
{% block javascript %}

<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Init Js -->
<script src="{% static 'js/cloud/candidate.init.js' %}"></script>


<!-- Job-list Init Js -->
<script src="{% static 'js/data-filter.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/cloud/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>


{% endblock javascript %}
