<h1>HI</h1>
{% if messages %}

{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">
  <p{% if message.tags %} class=""{% endif %}>{{ message }}</p>
</div>
{% endfor %}
{% endif %}

<form method="post" enctype="multipart/form-data" action="{% url 'upload' %}">
  {% csrf_token %}
{{ form.as_p }}
  <!-- <input type="text" name="document">
  <input type="file" name="myfile"> -->
  <button type="submit" value="submit">Upload</button>
  <h2>Please Upload Excel File</h2>
</form>
