{% extends 'partials/rnd_base.html' %}
{% load static %}
{% load split %}
{% block title %}Data Upload{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="row">
      <h1>DATA UPLOAD</h1>
      {% if form %}
      업로드 완료
      {{ form }}
      {% else %}
      업로드 실패
      {{ form }}
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}
