{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Candidate Details{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Light Box Css -->
<link rel="stylesheet" href="{% static 'libs/glightbox/dist/css/glightbox.min.css' %}">
<style>
  .candidate-education-content::before {
    height: auto !important;
    border: none !important;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">상세내용</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'index'%}">홈</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">공지사항</a></li>
                <li class="breadcrumb-item active" aria-current="page"> 상세내용 </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START CANDIDATE-DETAILS -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card side-bar">


          <div class="candidate-profile-overview  card-body border-top p-4">
            <h6 class="fs-17 fw-semibold mb-3">상세 정보</h6>
            <ul class="list-unstyled mb-0">

              <li>
                <div class="d-flex">
                  <label class="text-dark">분류</label>
                  <div>
                    <p class="text-muted mb-0">회의일정</p>
                  </div>
                </div>
              </li>

              <li>
                <div class="d-flex">
                  <label class="text-dark">소속</label>
                  <div>
                    <p class="text-muted mb-0">신규사업팀</p>
                  </div>
                </div>
              </li>

              <li>
                <div class="d-flex">
                  <label class="text-dark">작성자</label>
                  <div>
                    <p class="text-muted mb-0">홍길동</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <label class="text-dark">조회</label>
                  <div>
                    <p class="text-muted mb-0">12</p>
                  </div>
                </div>
              </li>


            </ul>
          </div>


          <div class="candidate-contact-details card-body p-4 border-top">
            <h6 class="fs-17 fw-semibold mb-3">문의</h6>
            <ul class="list-unstyled mb-0">
              <li>
                <div class="d-flex align-items-center mt-4">
                  <div class="icon bg-soft-primary flex-shrink-0">
                    <i class="uil uil-envelope-alt"></i>
                  </div>
                  <div class="ms-3">
                    <h6 class="fs-14 mb-1">Email</h6>
                    <p class="text-muted mb-0">gabrielpalmer@gmail.com</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center mt-4">
                  <div class="icon bg-soft-primary flex-shrink-0">
                    <i class="uil uil-map-marker"></i>
                  </div>
                  <div class="ms-3">
                    <h6 class="fs-14 mb-1">Address</h6>
                    <p class="text-muted mb-0">Dodge City, Louisiana</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex align-items-center mt-4">
                  <div class="icon bg-soft-primary flex-shrink-0">
                    <i class="uil uil-phone"></i>
                  </div>
                  <div class="ms-3">
                    <h6 class="fs-14 mb-1">Phone</h6>
                    <p class="text-muted mb-0">+1(452) 125-6789</p>
                  </div>
                </div>
              </li>

            </ul>
          </div>
          <!--end candidate-overview-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->

      <div class="col-lg-8">
        <div class="card candidate-details ms-lg-4 mt-4 mt-lg-0">
          <div class="card-body p-4 candidate-personal-detail">

            <div class="mt-4 border-bottom pb-4">
                <h5 class="fs-17 fw-bold mb-3">첨부파일</h5>
                <ul class="profile-document list-unstyled mb-0">
                    <li>
                        <div class="profile-document-list d-flex align-items-center mt-4 ">
                            <div class="icon flex-shrink-0">
                                <i class="uil uil-file"></i>
                            </div>
                            <div class="ms-3">
                                <h6 class="fs-16 mb-0">Notification.pdf</h6>
                                <p class="text-muted mb-0">1.25 MB</p>
                            </div>
                            <div class="ms-auto">
                                <a href="{% static 'images/dark-logo.png' %}" download class="fs-20 text-muted"><i class="uil uil-import"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="candidate-education-details mt-4 pt-3">
              <h6 class="fs-17 fw-bold mb-0">내용</h6>
              <div class="candidate-education-content mt-4">
                  <p class="text-muted">07월 07일 데이터데이스 구축을 위한 착수회의가 진행됩니다. 참석인원 확인 부탁드립니다.</p>
                  <p>일시: 7월 7일 목요일 13:00</p>
                  <p>장소: 포항 체인지업그라운드 6층</p>
              </div>
            </div>
            <!--end candidate-education-details-->

          </div>
          <!--end card-body-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- END CANDIDATE-DETAILS -->
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Light Box Js -->
<script src="{% static 'libs/glightbox/dist/js/glightbox.min.js' %}"></script>

<script src="{% static 'js/pages/lightbox.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
