{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block extra_css %}
        <!-- Choise Css -->
        <link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
{% endblock extra_css %}
{% block content %}
                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Blog</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Blog</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Blog </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->


                    
                    <!-- START BLOG-PAGE -->
                    <section class="section">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-12">
                                    <div class="mb-4">
                                        <h4>Latest & Trending Blog Post</h4>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-7">
                                    <div class="post-preview overflow-hidden rounded-3 mb-3 mb-lg-0">
                                        <a href="{% url 'blog-details' %}"><img src="{% static 'images/blog/img-04.jpg' %}" alt="Blog" class="img-fluid blog-img" /></a>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-5">
                                    <!-- Post-->
                                    <article class="post position-relative">
                                        <div class="post ms-lg-4">
                                            <p class="text-muted mb-2"><b>Product</b> - Aug 01, 2021</p>
                                            <h5 class="mb-3"><a href="{% url 'blog-details' %}" class="primary-link">Do traditional landing pages work for Saas startups?</a></h5>
                                            <p class="text-muted">
                                                Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.
                                            </p>
                                            <div class="d-flex align-items-center mt-4">
                                                <div class="flex-shrink-0">
                                                    <img src="{% static 'images/user/img-01.jpg' %}" alt="" class="avatar-sm rounded-circle">
                                                </div>
                                                <div class="flex-grow-1 ms-3">
                                                    <a href="{% url 'blog-author' %}" class="primary-link"><h6 class="fs-16 mb-0">James Lemire </h6></a>
                                                    <p class="text-muted mb-0">Product Manager</p>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Post end-->
                                </div><!--end col-->
                            </div><!--end row-->


                        </div><!-- end container -->
                    </section>
                    <!-- END BLOG-PAGE -->
{% endblock content %}
{% block javascript %}
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


        <!-- Choice Js -->
        <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

        <!-- Switcher Js -->
        <script src="{% static 'js/pages/switcher.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
