{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Services{% endblock title %}
{% block extra_css %}
        <!-- Choise Css -->
        <link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
{% endblock extra_css %}
{% block content %}
                    <!-- Start home -->
                    <section class="page-title-box">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="text-center text-white">
                                        <h3 class="mb-4">Services</h3>
                                        <div class="page-next">
                                            <nav class="d-inline-block" aria-label="breadcrumb text-center">
                                                <ol class="breadcrumb justify-content-center">
                                                    <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                                                    <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                                                    <li class="breadcrumb-item active" aria-current="page"> Services </li>
                                                </ol>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end container-->
                    </section>
                    <!-- end home -->

                    <!-- START SHAPE -->
                    <div class="position-relative" style="z-index: 1">
                        <div class="shape">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
                                <path fill="#FFFFFF" fill-opacity="1"
                                    d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
                            </svg>
                        </div>
                    </div>
                    <!-- END SHAPE -->


                    <!-- START SERVICE-PAGE --> 
                    <section class="section">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6">
                                    <div class="section-title text-center">
                                        <h3 class="title mb-3">Providing our trusted <span class="text-warning">Services</span></h3>
                                        <p class="text-muted">It is a long established fact that a reader will be of a page when established fact looking at its layout.</p>
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-object-ungroup"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Manage Job Ads</h5>
                                                <p class="text-muted">We quickly learn to fear and thus automatically avoid potentially stressful situations of all kinds.</p>
                                            </div>
                                            <div class="learn-more">
                                                <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                            </div>
                                        </div>
                                        
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-telegram-alt"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Temp Search</h5>
                                                <p class="text-muted">It seems that only fragments of the original text remain in the Lorem Ipsum texts used fragments today.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-airplay"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Display Jobs</h5>
                                                <p class="text-muted">Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-rocket"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>For Agencies</h5>
                                                <p class="text-muted">At missed advice my it no sister. Miss told ham dull knew see she spot near can. Spirit her entire her called.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-history"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Quick Support</h5>
                                                <p class="text-muted">Designers have a lot of tools to make a story more intersting. You can align your image to the leftcenter with a caption.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-bookmark"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Bookmark Jobs</h5>
                                                <p class="text-muted">Becomes an interactive story that can engage users. Designers have a lot of tools to make a story more intersting.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-layers-alt"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Creative Design</h5>
                                                <p class="text-muted">A business consulting agency is involved in the planning, implementation, and education of businesses. We work directly.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-anchor"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Stratagy & Research</h5>
                                                <p class="text-muted">The most important aspect of beauty was, therefore, an inherent part of an object, rather than something.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->

                                <div class="col-lg-4 col-md-6">
                                    <div class="card service-box mt-4">
                                        <div class="card-body p-4">
                                            <div class="service-icon icons-md">
                                                <i class="uim uim-graph-bar"></i>
                                            </div>
                                            <div class="mt-4">
                                                <h5>Real-time Analytics</h5>
                                                <p class="text-muted">This response is important for our ability to learn from mistakes, but it alsogives rise to self-criticism.</p>
                                                <div class="learn-more">
                                                    <a href="javascript:void(0)" class="form-text text-primary">Learn More <i class="uil uil-angle-right-b"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--end service-->
                                </div><!--end col-->
                            </div><!--end row-->
                        </div><!--end container-->
                    </section>
                    <!-- END SERVICE-PAGE -->

{% endblock content %}
{% block javascript %}
        
        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
        <script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>
        
        <!-- Choice Js -->
        <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
        
        <!-- Switcher Js -->
        <script src="{% static 'js/pages/switcher.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}