{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Swiper Css -->
<link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
{% endblock extra_css %}
{% block content %}
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">공유문서함</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">Company</a></li>
                <li class="breadcrumb-item active" aria-current="page"> Jobs Categories </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>


<section class="section">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-lg-12">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="generalTab" role="tabpanel" aria-labelledby="general-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="general">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="generalOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#general-one" aria-expanded="true" aria-controls="general-one">
                        Where does it come from ?
                      </button>
                    </h2>
                    <div id="general-one" class="accordion-collapse collapse show" aria-labelledby="generalOne" data-bs-parent="#general">
                      <div class="accordion-body">
                        If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European
                        languages.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="generaltwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-two" aria-expanded="false" aria-controls="general-two">
                        How Jobcy Work ?
                      </button>
                    </h2>
                    <div id="general-two" class="accordion-collapse collapse" aria-labelledby="generaltwo" data-bs-parent="#general">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="generalthree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-three" aria-expanded="false" aria-controls="general-three">
                        What is your shipping policy?
                      </button>
                    </h2>
                    <div id="general-three" class="accordion-collapse collapse" aria-labelledby="generalthree" data-bs-parent="#general">
                      <div class="accordion-body">
                        Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="generalTwo">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="generalfour">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#general-four" aria-expanded="true" aria-controls="general-four">
                        Where To Place A FAQ Page
                      </button>
                    </h2>
                    <div id="general-four" class="accordion-collapse collapse show" aria-labelledby="generalfour" data-bs-parent="#generalTwo">
                      <div class="accordion-body">
                        Just as the name suggests, a FAQ page is all about simple questions and answers. Gather common questions your customers have asked from your support team and include them in the FAQ, Use categories to organize questions
                        related to specific topics.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="generalfive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-five" aria-expanded="false" aria-controls="general-five">
                        Why do we use it ?
                      </button>
                    </h2>
                    <div id="general-five" class="accordion-collapse collapse" aria-labelledby="generalfive" data-bs-parent="#generalTwo">
                      <div class="accordion-body">
                        It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="generalsix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#general-six" aria-expanded="false" aria-controls="general-six">
                        Where can I get some ?
                      </button>
                    </h2>
                    <div id="general-six" class="accordion-collapse collapse" aria-labelledby="generalsix" data-bs-parent="#generalTwo">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end general-tab-->
          <div class="tab-pane fade" id="buyingTab" role="tabpanel" aria-labelledby="buying-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="buying">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="buyingone">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#buying-one" aria-expanded="true" aria-controls="buying-one">
                        Where does it come from ?
                      </button>
                    </h2>
                    <div id="buying-one" class="accordion-collapse collapse show" aria-labelledby="buyingone" data-bs-parent="#buying">
                      <div class="accordion-body">
                        If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European
                        languages.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="buyingtwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#buying-two" aria-expanded="false" aria-controls="buying-two">
                        How Jobcy Work ?
                      </button>
                    </h2>
                    <div id="buying-two" class="accordion-collapse collapse" aria-labelledby="buyingtwo" data-bs-parent="#buying">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="buyingthree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#buying-three" aria-expanded="false" aria-controls="buying-three">
                        What is your shipping policy?
                      </button>
                    </h2>
                    <div id="buying-three" class="accordion-collapse collapse" aria-labelledby="buyingthree" data-bs-parent="#buying">
                      <div class="accordion-body">
                        Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="buyingTwo">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="buyingfour">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#buying-four" aria-expanded="true" aria-controls="buying-four">
                        Where To Place A FAQ Page
                      </button>
                    </h2>
                    <div id="buying-four" class="accordion-collapse collapse show" aria-labelledby="buyingfour" data-bs-parent="#buyingTwo">
                      <div class="accordion-body">
                        Just as the name suggests, a FAQ page is all about simple questions and answers. Gather common questions your customers have asked from your support team and include them in the FAQ, Use categories to organize questions
                        related to specific topics.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="buyingfive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#buying-five" aria-expanded="false" aria-controls="buying-five">
                        Why do we use it ?
                      </button>
                    </h2>
                    <div id="buying-five" class="accordion-collapse collapse" aria-labelledby="buyingfive" data-bs-parent="#buyingTwo">
                      <div class="accordion-body">
                        It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="buyingsix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#buying-six" aria-expanded="false" aria-controls="buying-six">
                        Where can I get some ?
                      </button>
                    </h2>
                    <div id="buying-six" class="accordion-collapse collapse" aria-labelledby="buyingsix" data-bs-parent="#buyingTwo">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end buying-tab-->
          <div class="tab-pane fade" id="paymentTab" role="tabpanel" aria-labelledby="payment-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="payment">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="paymentone">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#payment-one" aria-expanded="true" aria-controls="payment-one">
                        Where does it come from ?
                      </button>
                    </h2>
                    <div id="payment-one" class="accordion-collapse collapse show" aria-labelledby="paymentone" data-bs-parent="#payment">
                      <div class="accordion-body">
                        If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European
                        languages.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="paymenttwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-two" aria-expanded="false" aria-controls="payment-two">
                        How Jobcy Work ?
                      </button>
                    </h2>
                    <div id="payment-two" class="accordion-collapse collapse" aria-labelledby="paymenttwo" data-bs-parent="#payment">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="paymentthree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-three" aria-expanded="false" aria-controls="payment-three">
                        What is your shipping policy?
                      </button>
                    </h2>
                    <div id="payment-three" class="accordion-collapse collapse" aria-labelledby="paymentthree" data-bs-parent="#payment">
                      <div class="accordion-body">
                        Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="paymentTwo">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="paymentfour">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#payment-four" aria-expanded="true" aria-controls="payment-four">
                        Where To Place A FAQ Page
                      </button>
                    </h2>
                    <div id="payment-four" class="accordion-collapse collapse show" aria-labelledby="paymentfour" data-bs-parent="#paymentTwo">
                      <div class="accordion-body">
                        Just as the name suggests, a FAQ page is all about simple questions and answers. Gather common questions your customers have asked from your support team and include them in the FAQ, Use categories to organize questions
                        related to specific topics.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="paymentfive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-five" aria-expanded="false" aria-controls="payment-five">
                        Why do we use it ?
                      </button>
                    </h2>
                    <div id="payment-five" class="accordion-collapse collapse" aria-labelledby="paymentfive" data-bs-parent="#paymentTwo">
                      <div class="accordion-body">
                        It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="paymentsix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-six" aria-expanded="false" aria-controls="payment-six">
                        Where can I get some ?
                      </button>
                    </h2>
                    <div id="payment-six" class="accordion-collapse collapse" aria-labelledby="paymentsix" data-bs-parent="#paymentTwo">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end payment-tab-->
          <div class="tab-pane fade" id="supportTab" role="tabpanel" aria-labelledby="support-tab">
            <div class="row">
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="support">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="supportone">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#support-one" aria-expanded="true" aria-controls="support-one">
                        Where does it come from ?
                      </button>
                    </h2>
                    <div id="support-one" class="accordion-collapse collapse show" aria-labelledby="supportone" data-bs-parent="#support">
                      <div class="accordion-body">
                        If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European
                        languages.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="supporttwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#support-two" aria-expanded="false" aria-controls="support-two">
                        How Jobcy Work ?
                      </button>
                    </h2>
                    <div id="support-two" class="accordion-collapse collapse" aria-labelledby="supporttwo" data-bs-parent="#support">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="supportthree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#support-three" aria-expanded="false" aria-controls="support-three">
                        What is your shipping policy?
                      </button>
                    </h2>
                    <div id="support-three" class="accordion-collapse collapse" aria-labelledby="supportthree" data-bs-parent="#support">
                      <div class="accordion-body">
                        Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
              <div class="col-lg-6">
                <div class="accordion accordion-flush faq-box" id="supportTwo">
                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="supportfour">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#support-four" aria-expanded="true" aria-controls="support-four">
                        Where To Place A FAQ Page
                      </button>
                    </h2>
                    <div id="support-four" class="accordion-collapse collapse show" aria-labelledby="supportfour" data-bs-parent="#supportTwo">
                      <div class="accordion-body">
                        Just as the name suggests, a FAQ page is all about simple questions and answers. Gather common questions your customers have asked from your support team and include them in the FAQ, Use categories to organize questions
                        related to specific topics.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="supportfive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#support-five" aria-expanded="false" aria-controls="support-five">
                        Why do we use it ?
                      </button>
                    </h2>
                    <div id="support-five" class="accordion-collapse collapse" aria-labelledby="supportfive" data-bs-parent="#supportTwo">
                      <div class="accordion-body">
                        It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->

                  <div class="accordion-item mt-4 border-0">
                    <h2 class="accordion-header" id="supportsix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#support-six" aria-expanded="false" aria-controls="support-six">
                        Where can I get some ?
                      </button>
                    </h2>
                    <div id="support-six" class="accordion-collapse collapse" aria-labelledby="supportsix" data-bs-parent="#supportTwo">
                      <div class="accordion-body">
                        To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.
                      </div>
                    </div>
                  </div>
                  <!--end accordion-item-->
                </div>
                <!--end accordion-->
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </div>
          <!--end support-tab-->
        </div>
      </div>
      <!--end col-->

    </div>
    <!--end row-->


    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="card candidate-details ms-lg-4 mt-4 mt-lg-0">
          <div class="card-body p-4 candidate-personal-detail">
            <div>
              <h6 class="fs-17 fw-semibold mb-3">개요</h6>
              <p class="text-muted mb-2">Very well thought out and articulate communication. Clear milestones, deadlines and fast work. Patience. Infinite patience. No
                shortcuts. Even if the client is being careless. Some quick example text to build on the card title and bulk the card's content Moltin gives you platform.</p>
              <p class="text-muted mb-0">As a highly skilled and successfull product development and design specialist with more than 4 Years of My experience lies in successfully conceptualizing, designing, and modifying consumer products specific
                to interior design and home furnishings.</p>
            </div>
            <div class="candidate-education-details mt-4 pt-3">
              <h6 class="fs-17 fw-bold mb-0">파일 히스토리</h6>
              <div class="candidate-education-content mt-4 d-flex">
                <div class="circle flex-shrink-0 bg-soft-primary"> B </div>
                <div class="ms-4">
                  <h6 class="fs-16 mb-1">BCA - Bachelor of Computer Application</h6>
                  <p class="mb-2 text-muted">International University - (2004 - 2010)</p>
                  <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My
                    experience.</p>
                </div>
              </div>
              <div class="candidate-education-content mt-4 d-flex">
                <div class="circle flex-shrink-0 bg-soft-primary"> M </div>
                <div class="ms-4">
                  <h6 class="fs-16 mb-1">MCA - Master of Computer Application</h6>
                  <p class="mb-2 text-muted">International University - (2010 - 2012)</p>
                  <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My
                    experience.</p>
                </div>
              </div>
              <div class="candidate-education-content mt-4 d-flex">
                <div class="circle flex-shrink-0 bg-soft-primary"> D </div>
                <div class="ms-4">
                  <h6 class="fs-16 mb-1">Design Communication Visual</h6>
                  <p class="text-muted mb-2">International University - (2012-2015)</p>
                  <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My
                    experience.</p>
                </div>
              </div>
            </div>
            <!--end candidate-education-details-->
            <div class="candidate-education-details mt-4 pt-3">
              <h6 class="fs-17 fw-bold mb-0">Experience</h6>
              <div class="candidate-education-content mt-4 d-flex">
                <div class="circle flex-shrink-0 bg-soft-primary"> W </div>
                <div class="ms-4">
                  <h6 class="fs-16 mb-1">Web Design & Development Team Leader</h6>
                  <p class="mb-2 text-muted">Creative Agency - (2013 - 2016)</p>
                  <p class="text-muted">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My
                    experience.</p>
                </div>
              </div>
              <div class="candidate-education-content mt-4 d-flex">
                <div class="circle flex-shrink-0 bg-soft-primary"> P </div>
                <div class="ms-4">
                  <h6 class="fs-16 mb-1">Project Manager</h6>
                  <p class="mb-2 text-muted">Jobcy Technology Pvt.Ltd - (Pressent)</p>
                  <p class="text-muted mb-0">There are many variations of passages of available, but the majority alteration in some form. As a highly skilled and successfull product development and design specialist with more than 4 Years of My
                    experience.</p>
                </div>
              </div>
            </div>
            <div class="candidate-portfolio mt-4 pt-3">
              <h6 class="fs-17 fw-bold mb-0">Projects</h6>
              <div class="row">
                <div class="col-lg-4 mt-4">
                  <div class="candidate-portfolio-box card border-0">
                    <img src="{% static 'images/blog/img-01.jpg' %}" alt="" class="img-fluid">
                    <div class="bg-overlay"></div>
                    <div class="zoom-icon">
                      <a href="{% static 'images/blog/img-01.jpg' %}" class="image-popup text-white" data-title="The Coding Awards" data-description="There are many variations of passages of available, but the majority alteration in some form."><i
                          class="uil uil-search-alt"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mt-4">
                  <div class="candidate-portfolio-box card border-0">
                    <img src="{% static 'images/blog/img-02.jpg' %}" alt="" class="img-fluid">
                    <div class="bg-overlay"></div>
                    <div class="zoom-icon">
                      <a href="{% static 'images/blog/img-02.jpg' %}" class="image-popup text-white" data-title="Project Explained" data-description="There are many variations of passages of available, but the majority alteration in some form."><i
                          class="uil uil-search-alt"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 mt-4">
                  <div class="candidate-portfolio-box card border-0">
                    <img src="{% static 'images/blog/img-03.jpg' %}" alt="" class="img-fluid">
                    <div class="bg-overlay"></div>
                    <div class="zoom-icon">
                      <a href="{% static 'images/blog/img-03.jpg' %}" class="image-popup text-white" data-title="Social Geek Made" data-description="There are many variations of passages of available, but the majority alteration in some form."><i
                          class="uil uil-search-alt"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--end candidate-portfolio-->
            <div class="mt-4 pt-3">
              <div class="d-sm-flex align-items-top">
                <div class="flex-shrink-0">
                  <img class="rounded-circle avatar-md img-thumbnail" src="{% static 'images/user/img-04.jpg' %}" alt="img">
                </div>
                <div class="flex-grow-1 ms-sm-3">
                  <div>
                    <p class="text-muted float-end fs-14 mb-2">Jun 23, 2021</p>
                    <h6 class="mt-sm-0 mt-3 mb-1">Michelle Durant</h6>
                    <div class="text-warning review-rating mb-2">
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star-half-full"></i>
                    </div>
                    <p class="text-muted fst-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                  </div>
                </div>
              </div>
              <div class="d-sm-flex align-items-top mt-4">
                <div class="flex-shrink-0">
                  <img class="rounded-circle avatar-md img-thumbnail" src="{% static 'images/user/img-02.jpg' %}" alt="img">
                </div>
                <div class="flex-grow-1 ms-sm-3">
                  <div>
                    <p class="text-muted float-end fs-14 mb-2">Jun 25, 2021</p>
                    <h6 class="mt-sm-0 mt-3 mb-1">Jeffrey Montgomery</h6>
                    <div class="text-warning review-rating mb-2">
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star"></i>
                      <i class="mdi mdi-star-half-full"></i>
                      <i class="mdi mdi-star-outline"></i>
                    </div>
                    <p class="text-muted fst-italic">" There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour "</p>
                  </div>
                </div>
              </div>
            </div>
            <form action="#" class="mt-4 pt-3">
              <h6 class="fs-17 fw-semibold mb-2">Add a review</h6>
              <p class="text-muted mb-3">Your Rating for this listing</p>
              <div class="row">
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label for="inputname" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="inputname" placeholder="Enter your name">
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="inputemail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputemail" placeholder="Enter your email">
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="inputsubject" class="form-label">Subject</label>
                    <input type="text" class="form-control" id="inputsubject" placeholder="Subject">
                  </div>
                </div>
                <!--end col-->
                <div class="col-lg-12">
                  <div class="mb-3">
                    <label for="inputcoment" class="form-label">Review</label>
                    <textarea class="form-control" id="inputcoment" rows="3" placeholder="Add your review"></textarea>
                  </div>
                </div>
                <!--end col-->
              </div>
              <!--end row-->
              <div class="text-end">
                <button type="submit" class="btn btn-primary btn-hover">Submit Review <i class="uil uil-angle-right-b"></i></button>
              </div>
            </form>
          </div>
          <!--end card-body-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->

  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- Index Js -->
<script src="{% static 'js/pages/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/pages/index.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
