{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Swiper Css -->
<link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
{% endblock extra_css %}
{% block content %}

<style>
  li:last-child {
    text-align: center;
  }
</style>
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">공유폴더 목록</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> 공유폴더 목록</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>


<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h4>폴더 목록</h4>
          <p class="text-muted">커스터마이징된 폴더를 통해 생성되는 문서의 히스토리를 구분하고 관리해보세요.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      <div class="col-lg-4">
        <div class="text-center">
          <p class="badge bg-warning fs-14 mb-2">KINS 기관 제출 공문</p>
        </div>
        <div class="card job-Categories-box bg-light border-0">
          <div class="card-body p-4">
            <ul class="list-unstyled job-Categories-list mb-0">
              <li>
                <a href="{% url 'file_list' %}" class="primary-link fs-20">과제협약<span class="badge bg-soft-info float-end">5</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">연구개발계획서<span class="badge bg-soft-info float-end">10</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">연차보고서<span class="badge bg-soft-info float-end">7</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">중간보고서<span class="badge bg-soft-info float-end">3</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">N-star 보고서<span class="badge bg-soft-info float-end">2</span></a>
              </li>
              <li>
                <a href="#" class="primary-link fs-20">+</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4">
        <div class="text-center">
          <p class="badge bg-warning fs-14 mb-2">참여기관 공유</p>
        </div>
        <div class="card job-Categories-box bg-light border-0">
          <div class="card-body p-4">
            <ul class="list-unstyled job-Categories-list mb-0">
              <li>
                <a href="{% url 'file_list' %}" class="primary-link fs-20">원안위 데이터 전달<span class="badge bg-soft-info float-end">25</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">URL 번역 원문<span class="badge bg-soft-info float-end">19</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">연차보고서<span class="badge bg-soft-info float-end">71</span></a>
              </li>
              <li>
                <a href="#" class="primary-link fs-20">+</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4">
        <div class="text-center">
          <p class="badge bg-warning fs-14 mb-2">회의일정 및 발표자료</p>
        </div>
        <div class="card job-Categories-box bg-light border-0">
          <div class="card-body p-4">
            <ul class="list-unstyled job-Categories-list mb-0">
              <li>
                <a href="{% url 'file_list' %}" class="primary-link fs-20">데이터<span class="badge bg-soft-info float-end">25</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">연구개발계획서<span class="badge bg-soft-info float-end">10</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">연차보고서<span class="badge bg-soft-info float-end">71</span></a>
              </li>
              <li>
                <a href="{% url 'job-list' %}" class="primary-link fs-20">단계보고서<span class="badge bg-soft-info float-end">40</span></a>
              </li>
              <li>
                <a href="#" class="primary-link fs-20">+</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- Index Js -->
<script src="{% static 'js/pages/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/pages/index.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
