{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Swiper Css -->
<link rel="stylesheet" href="{% static 'libs/swiper/swiper-bundle.min.css' %}">
{% endblock extra_css %}
{% block content %}

<style>
  .folder-Categories-list li:last-child {
    text-align: center;
  }

  .folder-Categories-box .folder-Categories-list li {
    background-color: #fff;
    padding: 8px 14px;
    border-radius: 4px;
    margin-bottom: 14px;
    box-shadow: 0 0.75rem 1.5rem rgba(49, 64, 71, .03);
  }
</style>
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">공유폴더 목록</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'index'%}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"> 공유폴더 목록</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>


<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h4>폴더 목록</h4>
          <p class="text-muted">커스터마이징된 폴더를 통해 생성되는 문서의 히스토리를 구분하고 관리해보세요.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center">
          <p class="badge bg-warning fs-14 mb-2">KINS 기관 제출 공문</p>
        </div>
        <div class="card folder-Categories-box bg-light border-0">
          <div class="card-body p-4">

            <ul class="list-unstyled folder-Categories-list mb-0">
              {% for folder in folders %}
              {% if folder.sector == '1' %}
              <li>
                <a href="{% url 'post_list' folder_id=1 %}" class="primary-link fs-20">{{ folder.title }}<span class="badge bg-soft-info float-end">25</span></a>
              </li>
              {% endif %}
              {% endfor %}
              <li>
                <a href="#" class="primary-link fs-20">+</a>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-6">
        <div class="text-center">
          <p class="badge bg-warning fs-14 mb-2">참여기관 공유</p>
        </div>
        <div class="card folder-Categories-box bg-light border-0">
          <div class="card-body p-4">
            <ul class="list-unstyled folder-Categories-list mb-0">
              {% for folder in folders %}

              {% if folder.sector == '2' %}
              <li>
                <a href="{% url 'post_list' folder_id=2 %}" class="primary-link fs-20">{{ folder.title }}<span class="badge bg-soft-info float-end">25</span></a>
              </li>
              {% endif %}
              {% endfor %}

              <li>
                <a href="#" class="primary-link fs-20">+</a>
              </li>
            </ul>

          </div>
        </div>
      </div>


      <div class="col-lg-6 mt-4">
        <div class="text-center">
          <p class="badge bg-warning fs-14 mb-2">회의일정 및 발표자료</p>
        </div>
        <div class="card folder-Categories-box bg-light border-0">
          <div class="card-body p-4">

            <ul class="list-unstyled folder-Categories-list mb-0">
              {% for folder in folders %}

              {% if folder.sector == '3' %}
              <li>
                <a href="{% url 'post_list' folder_id=3 %}" class="primary-link fs-20">{{ folder.title }}<span class="badge bg-soft-info float-end">25</span></a>
              </li>
              {% endif %}
              {% endfor %}

              <li>
                <a href="#" class="primary-link fs-20">+</a>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <!--end col-->
    </div>


    <!--end row-->

  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Swiper Js -->
<script src="{% static 'libs/swiper/swiper-bundle.min.js' %}"></script>

<!-- Index Js -->
<script src="{% static 'js/pages/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/pages/index.init.js' %}"></script>

<!-- App Js -->
<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
