{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Candidate List{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .candidate-education-content::before {
    height: auto !important;
    border: none !important;
  }

  .table th {
    background: #f7f7f7 !important;
    font-weight: 700 !important;
  }

  .document-list-colored {
    background: #f0f8ffe6;
    border: 1px solid aliceblue;
    border-radius: 15px;
    padding: 8px;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">상세내용</h3>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START JOBS-POST-EDIT -->
<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="bg-soft-primary p-3">
          <h5 class="mb-0 fs-17">게시글 수정중!</h5>
        </div>
      </div>
      <!--end col-->
    </div>


    <!--end row-->
    <form action="#" class="job-post-form shadow mt-4">
      <div class="job-post-content box-shadow-md rounded-3 p-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">제목</label>
              <input type="text" class="form-control" id="jobtitle" value="{{ post.title }}">
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">작성자</label>
              <input type="text" class="form-control" id="jobtitle" value="{{ post.writer }}">
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">작성일자</label>
              <input type="date" class="form-control" id="jobtitle" value="{{ post.creation_date|date:'Y-m-d' }}" disabled>
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">최근 수정일</label>
              <input type="date" class="form-control" id="jobtitle" value="{{ post.update_date|date:'Y-m-d' }}" disabled>
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-12">
            <div class="text-end">
              <a href="javascript:void(0)" class="btn btn-primary">저장</a>
            </div>
          </div>
        </div>
        <!--end row-->
      </div>
      <!--end job-post-content-->
    </form>

    <form action="#" class="job-post-form shadow mt-4">
      <div class="job-post-content box-shadow-md rounded-3 p-4">
        <div class="row">
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">세부제목</label>
              <input type="text" class="form-control" id="jobtitle" placeholder="">
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-6">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">상세설명</label>
              <input type="text" class="form-control" id="jobtitle" placeholder="">
            </div>
          </div>
          <!--end col-->
          <div class="col-lg-12">
            <div class="mb-4">
              <label for="jobtitle" class="form-label">파일 추가</label>
              <input type="file" class="form-control" id="jobtitle" placeholder="">
            </div>
          </div>
          <!--end col-->

          <div class="col-lg-12">
            <div class="text-end">
              <a href="{% url 'file_list' %}" class="btn btn-success">뒤로가기</a>
              <a href="javascript:void(0)" class="btn btn-primary">업로드 <i class="mdi mdi-send"></i></a>
            </div>
          </div>

        </div>
        <!--end row-->
      </div>
      <!--end job-post-content-->
    </form>


    <div class="row">
      <div class="col-lg-12 mt-4">
        <div class="card candidate-details mt-4 mt-lg-0">
          <div class="card-body p-4 candidate-personal-detail">

            <div class="">
              <h6 class="fs-17 fw-bold mb-0">히스토리</h6>


              {% for log in logs %}
              {% include 'cloud/partials/history_card.html' %}
              {% endfor %}




              <!--end candidate-educat`ion-details-->

            </div>
            <!--end card-body-->
          </div>
          <!--end card-->
        </div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
<!-- END JOBS-POST-EDIT -->
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
