{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Manage Jobs{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
{% endblock extra_css %}
{% block content %}
<style>
  .job-box:hover {
    cursor: pointer;
  }
</style>
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">{{ folder }} 폴더</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="#">HOME</a></li>
                <li class="breadcrumb-item"><a href={% url 'folder_list' %}>공유 폴더 목록</a></li>
                <li class="breadcrumb-item active" aria-current="page"> '과제협약' 폴더 </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START MANAGE-JOBS -->
<section class="section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-10">
        <div class="mb-4 mb-lg-0">
          <h6 class="mb-0"> 파일 목록 </h6>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-2">
        <div class="candidate-list-widgets">
          <div class="row">
            <div class="col-lg-12">
              <div class="selection-widget">
                <select class="form-select" data-trigger name="choices-single-filter-orderby" id="choices-single-filter-orderby" aria-label="Default select example">
                  <option value="df">제목</option>
                  <option value="ne">최신순</option>
                  <option value="od">과거순</option>
                </select>
              </div>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end candidate-list-widgets-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
    <div class="row">
      <!-- job-box-->
      <div class="col-lg-12">
        {% for post in posts %}
        {% include 'cloud/partials/post_card.html' %}
        {% endfor %}
      </div>

      <div class="col-lg-12 mt-2">
        <a class="btn btn-soft-primary m-2 float-end" href="{% url 'post_upload' folder_id=folder %}"> 글 작성 </a>
      </div>

    </div>
    <!--end row-->

    <div class="row">
      <div class="col-lg-12 mt-4 pt-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination job-pagination mb-0 justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)" tabindex="-1">
                <i class="mdi mdi-chevron-double-left fs-15"></i>
              </a>
            </li>
            <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0)">4</a></li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">
                <i class="mdi mdi-chevron-double-right fs-15"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- END MANAGE-JOBS -->

<!-- DELETE Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Delete Jobs ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <h6 class="text-danger"><i class="uil uil-exclamation-triangle"></i> Warning: Are you sure you want to delete job Post ?</h6>
          <p class="text-muted"> Your jobs post will be permenently removed and you won't be able to see them again, including the once you're shared with your friends.</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger btn-sm">Yes, delete</button>
      </div>
    </div>
  </div>
</div>
<!-- END DELETE MODAL -->
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Init Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
