{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> {{ cmp }} </h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'unist' %}">규제사례 DB</a></li>
                <li class="breadcrumb-item"><a href="{% url 'kbs-3' %}">KBS-3</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ cmp }} </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section>
  <div class="container">
    <div class="row g-2 mt-3 mb-3">

      <div class="col-lg-3 col-md-6">
        <div class="filler-job-form">
          <i class="uil uil-clipboard-notes"></i>
          <select class="form-select" data-trigger name="choices-single-cate" id="choices-single-cate" aria-label="Default select example" onchange="changeCategory()">
            <option value="제목">제목</option>
            <option value="태그">태그</option>
          </select>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="filler-job-form">
          <i class="uil uil-search"></i>

          <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" name="search" value="" onfocus="this.value=''" placeholder="검색어 입력" onblur="this.value=this.value.trim();">
          <input type="hidden" class="form-control filter-job-input-box" id="keyInput" name="key" value="{{ key }} " onfocus="this.value=''" onblur="this.value=this.value.trim();">

          <input type="hidden" id="fieldFormControlInput" name="field" value="title" onfocus="this.value=''">
        </div>
      </div>

      <div class="col-lg-3">
        <button type="submit" href="javascript:void(0)" class="btn btn-primary"><i class="uil uil-filter"></i> Filter</button>
        <a href="{% url 'database' %}" style="padding-left:10px;">Clear<i class="uil uil-multiply""></i></a>
      </div>


      <div class="row">

            <!-- 토글 탭 버튼 -->
            <div class="col-lg-4 mt-4">
              <ul class="job-list-menu nav nav-pills nav-justified flex-column flex-sm-row" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation" style="width:100%">
                  <button class="nav-link active" id="recent-jobs-tab" data-bs-toggle="pill" data-bs-target="#recent-jobs" type="button" role="tab" aria-controls="recent-jobs" aria-selected="true">안전기능</button>
                </li>
                <li class="nav-item" role="presentation" style="width:100%">
                  <button class="nav-link" id="featured-jobs-tab" data-bs-toggle="pill" data-bs-target="#featured-jobs" type="button" role="tab" aria-controls="featured-jobs" aria-selected="false">기술설계</button>
              </ul>
            </div>



            <div class="col-lg-12">
              <div class="tab-content p-3">
                <div class="tab-pane active" id="recent-jobs" role="tabpanel">
                  <!-- 요건 리스트 -->
                  <div class="col-lg-12">
                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="{% url 'details-component' title='부식 저항성' %}" class="primary-link">부식 저항성<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->
                        </div>
                      </div>
                    </div>

                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="{% url 'details-component' title='부식 저항성' %}" class="primary-link">기계적 부하에 대한 건전성<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->
                        </div>
                      </div>
                    </div>

                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="{% url 'details-component' title='부식 저항성' %}" class="primary-link">미임계 유지<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->
                        </div>
                      </div>
                    </div>



                  </div>
                </div>


                <div class="tab-pane" id="featured-jobs" role="tabpanel">
                  <!-- 요건 리스트 -->
                  <div class="col-lg-12">
                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="#" class="primary-link">캐니스터 재료 특성<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->

                        </div>
                      </div>
                    </div>

                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="#" class="primary-link">캐니스터 재료 특성<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->

                        </div>
                      </div>
                    </div>

                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="#" class="primary-link">주철용기 재료 조성<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->

                        </div>
                      </div>
                    </div>

                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="#" class="primary-link">주철용기 제원<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->

                        </div>
                      </div>
                    </div>


                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="#" class="primary-link">구리용기 재료 조성<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->

                        </div>
                      </div>
                    </div>


                  </div>
                </div>


              </div>
            </div>

      </div>
    </div>
</section>


{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
<script src="{% static 'js/data-filter-brnc.init.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
