{% extends 'partials/rnd_base.html' %}
{% load static %}
{% load split %}
{% block title %}Candidate Details{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Light Box Css -->
<link rel="stylesheet" href="{% static 'libs/glightbox/dist/css/glightbox.min.css' %}">
<style>
  .candidate-education-content::before {
    height: auto !important;
    border: none !important;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">{{ title }}</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'database-index' %}">Database</a></li>
                <li class="breadcrumb-item active" aria-current="page"> 문서 </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START CANDIDATE-DETAILS -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">


      <div class="col-lg-12">

        <div class="card candidate-details ms-lg-0 mt-4 mb-4">
          <div class="card-body p-4 candidate-personal-detail">

            <div class="candidate-education-details">
              <div class="candidate-education-content">
                <span class="badge bg-soft-primary fs-14" onclick=location.href="#">#캐니스터</span>
                <span class="badge bg-soft-primary fs-14" onclick=location.href="#">#부식 저항성</span>
                <span class="badge bg-soft-primary fs-14" onclick=location.href="#">#구리용기</span>
              </div>
            </div>
            <!--end candidate-education-details-->

          </div>
          <!--end card-body-->
        </div>


        <div class="card candidate-details ms-lg-0 mt-4 mb-4">
          <div class="card-body p-4 candidate-personal-detail">

            <div class="candidate-education-details">
              <div class="candidate-education-content">
                <p class="text-muted">{{ doc.description }}</p>
                <h6>SR-Site</h6>
                <p>캐니스터는 격납을 유지하고 처분장에서 발생할 것으로 예상되는 부식을 견뎌야 한다.</p>
                <h6>Posiva</h6>
                <p>캐니스터는 격납을 유지하고 처분장에서 발생할 것으로 예상되는 부식을 견뎌야 한다.</p>
                <h6>안전기능</h6>
                <p>부식 저항성</p>
                <h6>성능목표</h6>
                <p>구리의  > 0 </p>
                <h6>검증 특성</h6>
                <ul>
                  <li>재료 특성</li>
                  <li>재료 성분</li>
                  <li>제원</li>
                  <li>결함</li>
                </ul>
              </div>
            </div>
            <!--end candidate-education-details-->

          </div>
          <!--end card-body-->
        </div>

        <h4>
          안전기능 및 성능목표의 근거
        </h4>
        <p>
          캐니스터가 단단히 밀봉되어 있는 한, KBS-3-처분장은 겹납을 유지하며 방사선으로 인한 유해한 영향은 발생하지 않는다. 사용후핵연료의 방사능독성(radiotoxicity)과 관련하여 요구되는 격납을 유지하기 위해 내화학성이 요구된다.
성능목표인 0보다 큰 구리 두께는 겹납을 유지하고 최소한 어떤 위치에서 두께가 0이 되지 않는 한 어떤 방사성핵종도 유출될 수 없도록 하는 구리 외부용기이기 때문에 설정된다.
        </p>

        <div class="row">
          <div class="col-lg-10">
          </div>
          <div class="col-lg-2 mt-4">
            <button type="button" name="button" class="btn btn-primary w-100" onclick=location.href="{% url 'component' cmp='모암' %}">목록</button>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- END CANDIDATE-DETAILS -->
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Light Box Js -->
<script src="{% static 'libs/glightbox/dist/js/glightbox.min.js' %}"></script>

<script src="{% static 'js/pages/lightbox.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
