{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> 규제사례 데이터베이스 </h3>

        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section class="section">
  <div class="container">

    <div class="row">

      <div class="col-lg-12">
        <h4>Background</h4>
        <ul>
          <li>초기 검토 단계</li>
          <li>주요 검토 단계</li>
          <li>검토 의견서</li>
          </ul>
          <p>SR-Site 보고서는 2011년 개발된 스웨덴의 Site specific 보고서이며…… 예비 인허가신청(PSA)을 지원하기 위해</p>
      </div>

      <div class="col-lg-12">
        <h4>적용된 법령(시행령) 및 규정(지침)</h4>
        <ul>
        <li>법령(시행령): <span style="color: blue; text-decoration:underline;">ACT on Nuclear Activities 1984:3, Ordinance on Nuclear Activities 1984:14</span></li>
        <li>규정(규제 지침):<span style="color: blue; text-decoration:underline;">SSMFS 2008:21, SSMFS 2008:37</span></li>
        </ul>
      </div>

      <div class="col-lg-12">
        <h4>Database</h4>


        <div class="candidate-list-box card mt-4">
          <div class="card-body p-4">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="candidate-list-content mt-lg-0">
                  <h5 class="fs-19 mb-1"><a href="{% url 'document_detail' %}" class="primary-link">구리 부식</a> </h5>
                  <p class="text-muted mb-2">[Technical Issue]</p>
                  <ul class="list-inline mb-0 text-muted">
                    <li class="list-inline-item">
                      <i class="mdi mdi-map-marker"></i> 등록일자: 2022.11.01
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="candidate-list-box card mt-4">
          <div class="card-body p-4">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="candidate-list-content mt-lg-0">
                  <h5 class="fs-19 mb-1"><a href="#" class="primary-link">캐니스터 기계적 무결성 검토</a> </h5>
                  <p class="text-muted mb-2">[Technical Issue]</p>
                  <ul class="list-inline mb-0 text-muted">
                    <li class="list-inline-item">
                      <i class="mdi mdi-map-marker"></i> 등록일자: 2022.11.01
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
