{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .img-fluid {
    object-fit: scale-down;
    height: 70px !important;
    max-width: 80% !important;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> KBS-3 구성요소별 조건 </h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'unist' %}">규제사례 DB</a></li>
                <li class="breadcrumb-item"><a href="{% url 'kbs-3' %}">KBS-3</a></li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">

            <img src="{% static 'images/sites/캐니스터.jpg' %}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="{% url 'component' cmp='캐니스터' %}" class="btn btn-soft-primary">캐니스터</a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">
            <img src="{% static 'images/sites/완충재.jpg' %}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="{% url 'component' cmp='완충재' %}" class="btn btn-soft-primary">완충재</a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">
            <img src="{% static 'images/sites/뒤채움재.jpg' %}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="{% url 'component' cmp='뒤채움재' %}" class="btn btn-soft-primary">뒤채움재</a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">
            <img src="{% static 'images/sites/플러그.jpg' %}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="{% url 'component' cmp='플러그' %}" class="btn btn-soft-primary">플러그</a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">
            <img src="{% static 'images/sites/마감재.jpg' %}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="{% url 'component' cmp='마감재' %}" class="btn btn-soft-primary">마감재</a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
      <div class="col-lg-4 col-md-6">
        <div class="card text-center mb-4">
          <div class="card-body px-4 py-5">
            <img src="{% static 'images/sites/지하공동.jpg' %}" alt="" class="img-fluid rounded-3">
            <div class="mt-4">
              <a href="{% url 'component' cmp='천연방벽 및 지하공동' %}" class="btn btn-soft-primary">천연방벽 및 지하공동</a>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>

  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
