{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  .card {
    height: 100%;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> {{ doc }} </h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'unist' %}">규제사례 DB</a></li>
                <li class="breadcrumb-item"><a href="{% url 'safety' %}">Safety Case</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ doc }} </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card side-bar">


          <div class="candidate-profile-overview  card-body border-top p-4">
            <h6 class="fs-17 fw-semibold mb-3">문서 정보</h6>
            <ul class="list-unstyled mb-0">
              <li>
                <div class="d-flex">
                  <label class="text-dark">문서명</label>
                  <div>
                    <p class="text-muted mb-0">{{ doc }}</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="d-flex">
                  <label class="text-dark">국가</label>
                  <div>
                    <p class="text-muted mb-0">스웨덴</p>
                  </div>
                </div>
              </li>


              <li>
                <div class="d-flex">
                  <label class="text-dark">단계</label>
                  <div>
                    <p class="text-muted mb-0">예비부지조사</p>
                  </div>
                </div>
              </li>

              <h6 class="fs-17 fw-semibold mt-4">목표</h6>
              <li>
                <div class="d-flex">
                  <p class="text-muted mb-0">문헌조사 및 지질조사</p>
              </li>
              <h6 class="fs-17 fw-semibold mt-3">주요 검토항목</h6>
              <li>
                <div class="d-flex">
                  <p class="text-muted mb-0">KBS-3 처분 개념 및 부지조사 작업</p>
              </li>
            </ul>
          </div>


          <!--end candidate-overview-->
        </div>
        <!--end card-->
      </div>
      <!--end col-->

      <div class="col-lg-8">
        <div class=" candidate-list">


          <div class="candidate-list-box card mb-4">
            <div class="card-body p-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="candidate-list-images">
                    <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-6">
                  <div class="candidate-list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-1"><a href="#" class="primary-link">이슈1<span style="font-weight:400"></span></a> </h5>
                    <p class="text-muted mb-2"> </p>
                    <ul class="list-inline mb-0 text-muted">
                      <li class="list-inline-item">
                        <i class="mdi mdi-map-marker"></i> 등록일자:
                      </li>
                      <li class="list-inline-item">
                        <i class="uil uil-wallet"></i> 조회수:
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end col-->
              </div>
            </div>
          </div>

          <div class="candidate-list-box card mb-4">
            <div class="card-body p-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="candidate-list-images">
                    <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-6">
                  <div class="candidate-list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-1"><a href="#" class="primary-link">이슈2<span style="font-weight:400"></span></a> </h5>
                    <p class="text-muted mb-2"> </p>
                    <ul class="list-inline mb-0 text-muted">
                      <li class="list-inline-item">
                        <i class="mdi mdi-map-marker"></i> 등록일자:
                      </li>
                      <li class="list-inline-item">
                        <i class="uil uil-wallet"></i> 조회수:
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end col-->
              </div>
            </div>
          </div>
          <div class="candidate-list-box card mb-4">
            <div class="card-body p-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="candidate-list-images">
                    <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-6">
                  <div class="candidate-list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-1"><a href="#" class="primary-link">이슈3<span style="font-weight:400"></span></a> </h5>
                    <p class="text-muted mb-2"> </p>
                    <ul class="list-inline mb-0 text-muted">
                      <li class="list-inline-item">
                        <i class="mdi mdi-map-marker"></i> 등록일자:
                      </li>
                      <li class="list-inline-item">
                        <i class="uil uil-wallet"></i> 조회수:
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end col-->
              </div>
            </div>
          </div>
          <div class="candidate-list-box card mb-4">
            <div class="card-body p-4">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="candidate-list-images">
                    <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                  </div>
                </div>
                <!--end col-->

                <div class="col-lg-6">
                  <div class="candidate-list-content mt-3 mt-lg-0">
                    <h5 class="fs-19 mb-1"><a href="#" class="primary-link">이슈4<span style="font-weight:400"></span></a> </h5>
                    <p class="text-muted mb-2"> </p>
                    <ul class="list-inline mb-0 text-muted">
                      <li class="list-inline-item">
                        <i class="mdi mdi-map-marker"></i> 등록일자:
                      </li>
                      <li class="list-inline-item">
                        <i class="uil uil-wallet"></i> 조회수:
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end col-->
              </div>
            </div>
          </div>



        </div>

        <!--end card-->

        <div class="row">
          <div class="col-lg-10">
          </div>
          <div class="col-lg-2 mt-4">
            <button type="button" name="button" class="btn btn-primary w-100" onclick=location.href="{% url 'safety' %}">목록</button>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
