{% extends 'partials/rnd_base.html' %}
{% load static %}
{% load split %}
{% block title %}Candidate Details{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

<!-- Light Box Css -->
<link rel="stylesheet" href="{% static 'libs/glightbox/dist/css/glightbox.min.css' %}">
<style>
  .candidate-education-content::before {
    height: auto !important;
    border: none !important;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4">{{ title }}</h3>
          <div class="page-next">
            <nav class="d-inline-block" aria-label="breadcrumb text-center">
              <ol class="breadcrumb justify-content-center">
                <li class="breadcrumb-item"><a href="{% url 'database-index' %}">부지선정인자</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ country }} </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START CANDIDATE-DETAILS -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <ul class="job-list-menu nav nav-pills nav-justified flex-column flex-sm-row mb-4" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="recent-jobs-tab" data-bs-toggle="pill" data-bs-target="#recent-jobs" type="button" role="tab" aria-controls="recent-jobs" aria-selected="true">산소</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="featured-jobs-tab" data-bs-toggle="pill" data-bs-target="#featured-jobs" type="button" role="tab" aria-controls="featured-jobs" aria-selected="false">염분</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="freelancer-tab" data-bs-toggle="pill" data-bs-target="#freelancer" type="button" role="tab" aria-controls="freelancer" aria-selected="false">기타 화학적 성질</button>
          </li>

        </ul>
      </div>

      <div class="col-lg-12">
        <div class="card candidate-details ms-lg-0 mt-4 mt-lg-0">
          <div class="card-body p-4 candidate-personal-detail">

            <div class="candidate-education-detailspt-3">

              <div class="candidate-education-content">
                <p class="text-muted">{{ doc.description }}</p>

                <h6>요구사항</h6>
                <ul>
                  {% for factor in factors %}
                  {{ factor.factor }} <li>{{ factor.requirement }}</li>
                  {% endfor %}
                </ul>
                <h6>선호사항</h6>
                <ul>
                  <li>(없음)</li>
                </ul>
                <h6>설명</h6>
                <ul>
                  <li>
                    염도가 매우 높으면 완충액의 장기 기능이 손상될 수 있다.
                  </li>
                  <li>
                    이에 비해 바닷물의 염도(TDS)는 35g/l라고 할 수 있다.
                  </li>
                </ul>

              </div>
            </div>
            <!--end candidate-education-details-->

          </div>
          <!--end card-body-->
        </div>
        <!--end card-->

        <div class="row">
          <div class="col-lg-10">
          </div>
          <div class="col-lg-2 mt-4">
            <button type="button" name="button" class="btn btn-primary w-100" onclick=location.href="{% url 'siting' country='스웨덴' %}">목록</button>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- END CANDIDATE-DETAILS -->
{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Light Box Js -->
<script src="{% static 'libs/glightbox/dist/js/glightbox.min.js' %}"></script>

<script src="{% static 'js/pages/lightbox.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
