{% extends 'partials/rnd_base.html' %}
{% load static %}
{% load paginate %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">

{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h2 class="mb-4">규제사례 데이터</h2>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<!-- START JOB-LIST -->
<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-3">
        <div class="d-none d-lg-block card" style="padding: 12px; position:sticky; top:90px;">
          <ul class="nav nav-pills flex-column" id="elementsBar">
            <li class="nav-item">
              <a href="#intro" class="nav-link">스웨덴</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link">프랑스</a>
            </li>

            <li class="nav-item">
              <a href="#contact" class="nav-link">미국</a>
            </li>
            <li class="nav-item">
              <a href="#location" class="nav-link">일본</a>
            </li>
          </ul>
        </div>
        <!--end ui-elements-->
      </div>
      <!--end col-->

      <div class="col-lg-9">

        <div class="job-list-header">
          <form method="get" name="search_filter" id="search_filter">
            {% csrf_token %}
            {{ form }}

            <div class="row g-2">

              <select name="category__icontains" class="" title="" id="id_category__icontains" style="display:none">
                <option value="">----</option>
                <option value="모암">모암</option>
                <option value="산업시설">산업시설</option>
                <option value="사회적 관점">사회적 관점</option>
              </select>

              <select name="group__icontains" class="" title="" id="id_group__icontains" style="display:none">
                <option value="">----</option>
                <option value="안전성">안전성</option>
                <option value="기술">기술</option>
                <option value="토지와 환경">토지와 환경</option>
                <option value="사회">사회</option>
              </select>


              <script>
                function changeCategory() {
                  var val = document.getElementById("choices-single-categories");
                  var value = val.options[val.selectedIndex].value;

                  const $select = document.querySelector('#id_category__icontains');
                  $select.value = value;
                }

                function changeGroup() {
                  var val = document.getElementById("choices-single-groups");
                  var value = val.options[val.selectedIndex].value;

                  const $select = document.querySelector('#id_group__icontains');
                  $select.value = value;
                }
              </script>

              <div class="col-lg-2 col-md-6">
                <div class="filler-job-form">
                  <i class="uil uil-clipboard-notes"></i>
                  <select class="form-select" data-trigger name="choices-single-categories" id="choices-single-categories" aria-label="Default select example" onchange="changeCategory()">
                    <option value="">분류</option>
                    <option value="모암">기반암</option>
                    <option value="산업시설">산업시설</option>
                    <option value="사회적 관점">사회적 관점</option>
                  </select>
                </div>
              </div>
              <!--end col-->

              <div class="col-lg-2 col-md-6">
                <div class="filler-job-form">
                  <i class="uil uil-layer-group"></i>
                  <select class="form-select" data-trigger name="choices-single-groups" id="choices-single-groups" aria-label="Default select example" onchange="changeGroup()">
                    <option value="">그룹</option>
                    <option value="안전성">안전성</option>
                    <option value="기술">기술</option>
                    <option value="토지와 환경">토지와 환경</option>
                    <option value="사회">사회</option>
                  </select>
                </div>
              </div>
              <!--end col-->



              <div class="col-lg-4">
                <div class="filler-job-form">
                  <i class="uil uil-search"></i>

                  <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" name="search" value="" onfocus="this.value=''" placeholder="검색어 입력" onblur="this.value=this.value.trim();">
                  <input type="hidden" class="form-control filter-job-input-box" id="keyInput" name="key" value="{{ key }} " onfocus="this.value=''" onblur="this.value=this.value.trim();">

                  <input type="hidden" id="fieldFormControlInput" name="field" value="title" onfocus="this.value=''">
                </div>
              </div>

              <!--end col-->

              <div class="col-lg-4">
                <button type="submit" class="btn btn-primary w-50"><i class="uil uil-filter"></i> Filter</button>
                <a href="{% url 'database' company='UNIST' institution='스웨덴' %}" style="padding-left:10px;">Clear<i class="uil uil-multiply""></i></a>

              </div>

            </div>
          </form>
        </div>
        <!--end job-list-header-->

        <div class=" candidate-list">


                    {% for site in sites %}
                    <div class="candidate-list-box card mt-4">
                      <div class="card-body p-4">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <div class="candidate-list-images">
                              <a href="javascript:void(0)"><img src="{% static 'images/profile.jpg' %}" alt="" class="avatar-md img-thumbnail rounded-circle"></a>
                            </div>
                          </div>
                          <!--end col-->

                          <div class="col-lg-6">
                            <div class="candidate-list-content mt-3 mt-lg-0">
                              <h5 class="fs-19 mb-1"><a href="{% url 'details' country=site.country title=site.title %}" class="primary-link">{{ site.title }}<span style="font-weight:400"></span></a> </h5>
                              <p class="text-muted mb-2"> </p>
                              <ul class="list-inline mb-0 text-muted">
                                <li class="list-inline-item">
                                  <i class="mdi mdi-map-marker"></i> 등록일자:
                                </li>
                                <li class="list-inline-item">
                                  <i class="uil uil-wallet"></i> 조회수:
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!--end col-->
                        </div>
                      </div>
                    </div>
                    {% endfor %}




                    <script>
                      function searchKey(key_content) {
                        var form = document.getElementById('search_filter');

                        document.getElementById('keyInput').value = key_content;
                        document.getElementById('exampleFormControlInput1').value = key_content;
                        document.getElementById('fieldFormControlInput').value = 'key';
                        form.submit();
                      }
                    </script>


              </div>



            </div>


        </div>
        <!--end row-->

        <div class="row">
          <div class="col-lg-12 mt-5">
            <nav>
              <ul class="pagination job-pagination mb-0 justify-content-center">

                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="{% my_url page_obj.previous_page_number 'page' request.POST.urlencode %}" tabindex="-1">

                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="javascript:void(0)">

                    <i class="mdi mdi-chevron-double-left fs-15"></i>
                  </a>
                </li>
                {% endif %}


                {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
                <li class="page-item active" aria-current="page">
                  <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                </li>
                {% else %}
                <li class="page-item">
                  <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
                </li>
                {% endif %}
                {% endfor %}


                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %} ">
                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                    <i class="mdi mdi-chevron-double-right fs-15"></i>
                  </a>
                </li>
                {% endif %}

              </ul>
            </nav>
          </div>
          <!--end col-->
        </div><!-- end row -->

      </div>
      <!--end container-->
</section>
<!-- END JOB-LIST -->
{% endblock content %}
{% block javascript %}

<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Init Js -->
<script src="{% static 'js/cloud/candidate.init.js' %}"></script>


<!-- Job-list Init Js -->
<script src="{% static 'js/data-filter.init.js' %}"></script>
<script src="{% static 'js/data-filter-unist.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/cloud/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>


{% endblock javascript %}
