{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  th {
    font-weight: 800 !important;
    background-color: whitesmoke !important;
  }

  td,
  th {
    vertical-align: middle;
    font-size: 11px;
    text-align: center !important;
  }

  .data:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  td:nth-child(1) {
    width: 10px;
  }
</style>
{% endblock extra_css %}

{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> 규제사례 데이터베이스 </h3>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<section class="section">
  <div style="padding:5%">

    <div class="row">
      <div class="col-lg-12">


        <div class="card-body p-4">
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
                <tr>
                  <th colspan="14">전체 메뉴</th>
                </tr>
                <tr>
                  <th class="tb-col" colspan="2" align="center"></th>
                  <th scope="col" colspan="2" class="text-center">
                    개념화 단계<br>
                    <span class="fw-normal"></span>
                  </th>
                  <th scope="col" colspan="2" class="text-center">
                    부지조사/선정 단계<br>
                    <span class="fw-normal"></span>
                  </th>
                  <th scope="col" colspan="2" class="text-center">
                    기준 설계/인허가<br>신청단계
                  </th>
                  <th scope="col" colspan="2" class="text-center">
                    건설 단계<br>
                    <span class="fw-normal"></span>
                  </th>
                  <th scope="col" colspan="2" class="text-center">
                    운영 단계<br>
                    <span class="fw-normal"></span>
                  </th>
                  <th scope="col" colspan="2" class="text-center">
                    폐쇄 단계<br>
                    <span class="fw-normal"></span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th colspan="2">Safety Context</th>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                </tr>
                <tr>
                  <th colspan="2">안전전략</th>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                </tr>
                <tr>
                  <th rowspan="3">평가 베이시스</th>
                  <th>부지 특성</th>

                  <td rowspan="3">
                    <p>EPG</p>
                  </td>

                  <td rowspan="3">
                    <p class="data" onclick=location.href="{% url 'report' report_num=1 %}">1) 「Dossier 2005 Argile」 규제 검토 사례(프랑스)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=2 %}">2) 프랑스 부지조사단계 검토 사례 (URL 부지선정)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=3 %}">3) 스위스 타당성 조사 규제 검토 사례</p>
                  </td>

                  <td rowspan="3">
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>

                  <td>
                    <p class="data" onclick=location.href="{% url 'report' report_num=4 %}">4) ZIRA 선정과정 규제 검토 사례 (프랑스)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=5 %}">5) INSTIE 검토 그룹(지질관련) 이슈 리스트 (스웨덴)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=6 %}">6) 스웨덴 부지 조사 단계(현장조사 3단계)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=7 %}">7) SR-Can 외부 전문가 검토 사례 (스웨덴)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=8 %}">8) 스위스의 부지조사 단계 규제 검토 사례</p>
                  </td>


                  <td rowspan="3">
                    <p>EPG</p>
                    <p>SITEX-Ⅱ Project</p>

                    <p>11) SR-Site initial review (스웨덴, 2011~2013, SSM)</p>
                    <p>12) SR-Site Main review (스웨덴, 2013~2015, SSM)</p>
                    <p>13) STUK's review on the construction license stage<br>
                      post closure safety case of the spent nuclear fuel disposal<br>
                      in Olkiluoto (핀란드, 2015, STUK)</p>
                  </td>


                  <td>
                    <p class="data" onclick=location.href="{% url 'report' report_num=14 %}">14) SSM 건설 인허가 규제 검토 (초기 검토 단계, 스웨덴)</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=15 %}">15) SSM 건설 인허가 규제 검토 (주 검토 단계, 스웨덴)</p>
                  </td>
                  <td rowspan="3">
                    <p>EPG</p>
                    <p>SITEX-Ⅱ Project</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                
                <tr>
                  <th>처분장 설계</th>
                  <td>
                    <p class="data" onclick=location.href="{% url 'report' report_num=9 %}">9) SR-Can 외부 전문가 검토 사례 (스웨덴)</p>
                  </td>
                  <td>
                    <p class="data" onclick=location.href="{% url 'report' report_num=16 %}">16) 핀란드 ONKALO 건설 관련 규제 검토 사례</p>
                    <p class="data" onclick=location.href="{% url 'report' report_num=17 %}">17) 스웨덴 토지환경법원의 인허가 보고서 규제 검토 사례</p>
                    <p class="data" onclick=location.href="#">18) SSM 건설 인허가 규제 검토 (초기 검토 단계, 스웨덴)</p>
                    <p class="data" onclick=location.href="#">19) SSM 건설 인허가 규제 검토 (주 검토 단계, 스웨덴)</p>
                    <p class="data" onclick=location.href="#">20) STUK 건설 인허가 검토 사례 (핀란드, 공학적방벽)</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <th>안전성 평가 방법론</th>
                  <td>
                    <p>10) SR-Can 외부 전문가 검토 사례 (스웨덴)</p>
                  </td>
                  <td>

                    <p>21) SSM 건설 인허가 규제 검토 (초기 검토 단계, 스웨덴)</p>
                    <p>22) SSM 건설 인허가 규제 검토 (주 검토 단계, 스웨덴)</p>
                    <p>23) STUK 건설 인허가 검토 사례 (핀란드)</p>

                  </td>

                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <th rowspan="2">안전성 평가</th>
                  <th>운영 중 안전성 평가</th>
                  <td rowspan="2">EPG</td>
                  <td></td>
                  <td rowspan="2">
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td rowspan="2">
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td rowspan="2">
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>


                <tr>
                  <th>폐쇄 후 안전성 평가</th>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
                <tr>
                  <th colspan="2">관리 시스템/이해관계자 및 규제기관 참여</th>
                  <td>EPG</td>
                  <td></td>
                  <td>
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td>EPG</td>
                  <td>
                    <p>24) SSM 건설 인허가 규제 검토 (초기 검토 단계, 스웨덴)</p>
                    <p>25) SSM 건설 인허가 규제 검토 (주 검토 단계, 스웨덴)</p>
                  </td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>

                </tr>
                <tr>
                  <th colspan="2">증거들의 종합</th>
                  <td>EPG</td>
                  <td></td>
                  <td>
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                </tr>

                <tr>
                  <th colspan="2">불확실성 관리</th>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td>
                    <p>26) SSM 건설 인허가 규제 검토 (주 검토 단계, 스웨덴)</p>
                  </td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                </tr>

                <tr>
                  <th colspan="2">한계점, 통제 및 조건</th>
                  <td>EPG</td>
                  <td></td>
                  <td>
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>
                    <p>EPG</p>
                    <p> SITEX-II Project</p>
                  </td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                  <td>EPG</td>
                  <td></td>
                </tr>

              </tbody>
            </table>
            <!--end table-->
          </div>
        </div>
      </div>


    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
