{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  table {
    width: 85%;
    border: 1px solid black;
  }

  .tb-col {
    width: 10%;
  }

  td,
  th {
    text-align: center !important;
    font-size: 13px;
  }

  td,
  th {
    vertical-align: middle !important;
  }

  .data:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .custom li {
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
  }

  .nav-pills .nav-link {
    border-radius: 0 !important;
  }

  .laws {
    width: 100%;
    min-height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
  }

  .summary li {
    padding: 10px;
  }

  .sector {
    padding-top: 20px;
  }

  .entire td {
    font-size: 7px;
  }

  .entire {
    table-layout: fixed;
  }

  .data:hover {
    text-decoration: underline;
    cursor: pointer;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> 규제기준 데이터베이스 </h3>



        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section class="section">
  <div class="container">

    <div class="row">
      <!-- <h6 class="card-title">데이터베이스 보기</h6> -->
      <!-- <p class="text-muted">규제기준 데이터베이스 바로가기</p> -->

      <a href="{% url 'regulation_database' %}" class="btn btn-primary">Database 접속</a>
      <a href="{% url 'upload' %}" class="btn btn-primary mt-2">Data 업로드</a>

      <div class="col-lg-12">
        <div class="mt-5">

          <ul class="nav nav-pills custom" role="tablist">
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link active" data-bs-toggle="tab" href="#ALL" role="tab">
                <span>법령체계</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#KOR" role="tab">
                <span>국내</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#USA" role="tab">
                <span>미국</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#SWE" role="tab">
                <span>스웨덴</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#FIN" role="tab">
                <span>핀란드</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#FRA" role="tab">
                <span>프랑스</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#GER" role="tab">
                <span>독일</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#CAN" role="tab">
                <span>캐나다</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#JPN" role="tab">
                <span>일본</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#SUI" role="tab">
                <span>스위스</span>
              </a>
            </li>

          </ul>


          <div class="tab-content p-0 text-muted">

            <div class="tab-pane active" id="ALL" role="tabpanel">
              <table class="table table-bordered mb-0 entire" style="width:100%">

                <tr>
                  <td>법률</td>
                  <td>
                    <li><b>원안법 제63조</b></li>
                    방사성페기물관리시설등의 건설, 운영허가
                    <li><b>원안법 시행령 제96조</b></li>
                    방사성폐기물관리시설등의 건설, 운영허가 신청
                    <li><b>원안법 시행규칙 제87조</b></li>
                    방사성폐기물관리시설등의 건설, 운영허가의 신청
                  </td>
                  <td>
                    <li><b>Atomic Energy Act of 1954</b></li>
                    원자력법
                    <li><b>Energy Reorganization Act of 1974</b></li>
                    에너지 재편법
                    <li><b>Nuclear Waste Policy Act of 1982</b></li>
                    방사성폐기물 정책법
                  </td>
                  <td>
                    <li><b>The Act on Nuclear Activities (1984:3)</b></li>
                    원자력활동법
                    <li class="data" onclick=location.href="#"><b>The Radiation Protection Act (2018:396)</b></li>
                    방사선방호법
                    <li class="data" onclick=location.href="#"><b>Radiation Protection Ordinance (2018:506)</b></li>
                    방사선방호조례
                    <li class="data" onclick=location.href="#"><b>The Environmental Code (1998:808)</b></li>
                    환경법
                  </td>

                  <td>
                    <li class="data" onclick=location.href="#"><b>Nuclear Engergy Act</b></li>
                    원자력 에너지 법
                    <li class="data" onclick=location.href="#"><b>Nuclear Engergy Decree</b></li>
                    원자력 에너지 법령
                    <li class="data" onclick=location.href="#"><b>Radiation Decree</b></li>
                    방사선 법
                  </td>

                  <td>
                    <li><b>TSN Act</b></li>
                    원자력분야 투명성 및 보안에 관한 법
                    <li><b>Waste Act</b></li>
                    방사성물질 및 폐기물의 지속가능한 관리에 관한 법
                    <li><b>The Environmental Code</b></li>
                    환경법
                  </td>

                  <td>
                    <li><b>Basic Law (GG)</b></li>
                    기본법
                    <li><b>Atomic Energy Act (Atg)</b></li>
                    원자력 에너지 법
                    <li class="data" onclick=location.href="#"><b>Repository Site Selection Act (StandAG)</b></li>
                    처분시설 부지 선정에 관한 법
                    <li class="data" onclick=location.href="#"><b>Radiation Protection Ordinance (StrlSchV)</b></li>
                    방사선방호 조례
                  </td>

                  <td>
                    <li><b>Nuclear Safety and Control Act</b></li>
                    원자력안전 및 통제법
                    <li class="data" onclick=location.href="#"><b>Nuclear Fuel Waste Act</b></li>
                    핵연료 폐기물 법
                  </td>


                  <td>
                    <li><b>特定放射性廃棄物の最終処分に関する法律</b></li>
                    특정방사성폐기물의 최종 처분에 관한 법률
                    <li><b>特定放射性廃棄物の最終処分に関する法律</b></li>
                    특정방사성폐기물의 최종 처분에 관한 법 시행령
                    <li><b>特定放射性廃棄物の最終処分に関する法律</b></li>
                    특정방사성폐기물의 최종 처분에 관한 법 시행규칙
                  </td>

                  <td>
                    <li><b>Federal Nuclear Safety Ordinance (NSO)</b></li>
                    <li><b>Feral Ordinance on the Disposal of Radioactive Waste (Radioactive Waste Ordinance)</b></li>

                  </td>
                </tr>

                <tr>
                  <td>규정</td>
                  <td>
                    <li><b>원안위 고시 제2021-21호</b></li>
                    고준위방폐물 심층처분시설에 관한 일반기준
                    <li><b>원안위 고시 제2021-22호</b></li>
                    사용후핵연료 인도규정
                  </td>

                  <td>
                    <li class="data" onclick=location.href="{% url 'docs-details' pk=1 %}"><b>10CFR Part 60</b></li>
                    지층처분장에 고준위방폐물 처분
                    <li class="data" onclick=location.href="#"><b>10CFR Part 63</b></li>
                    네바다주 유카마운틴 지층처분장에서의 고준위방폐물 처분
                    <li class="data" onclick=location.href="#"><b>40CFR Part 191</b></li>
                    사용후핵연료, 고준위 및 TRU 방폐물의 관리와 처분을 위한 환경방사선방호기준
                    <li class="data" onclick=location.href="#"><b>40CFR Part 197</b></li>
                    네바다주 유카마운틴을 위한 공중의 보건 및 환경방사선방호의 기준
                  </td>

                  <td>
                    <li><b>Regulations concerning safety in nuclear facilities (SSMFS 2008:1)</b></li>
                    원자력시설 안전 규정
                    <li><b>Regulations on the protection of human health and the environment in connection with the final management of spent nuclear fuel and nuclear waste (SSMFS 2008:37)</b></li>
                    인간 및 환경보호 관련 사용후핵연료 및 원자력폐기물의 최종 관리에 관한 규정
                    <li><b>]Regulations on safety in connection with the disposal of nuclear material and nuclear waste (SSMFS 2008:21)</b></li>
                    핵물질 및 원자력폐기물 처분에 관한 안전 규정
                  </td>

                  <td>
                    <li class="data" onclick=location.href="#"><b>Radiation and Nuclear Safety Authority Regulation on the Safety of Disposal of Nuclear Waste (STUK Y/4/2018)</b></li>
                    원자력폐기물 처분 안전에 관한 방사선 및 원자력안전 당국 규정
                  </td>

                  <td></td>

                  <td>
                    <li class="data" onclick=location.href="#"><b>Final Disposal of Heat Generating Radioactive Waste (BMU10)</b></li>
                    발열방폐물의 최종처분에 관한 규정
                    <li class="data" onclick=location.href="#"><b>Safety Criteria the Final Disposal of Radioactive Waste in a Mine </b></li>
                    방폐물의 광산 최종처분시 안전 요건
                    <li class="data" onclick=location.href="#"><b>Verordnung über Anforderungen und Verfahren zur Entsorgung radioaktiver Abfälle (Atomrechtliche Entsorgungsverordnung – AtEV)</b></li>
                  </td>

                  <td></td>

                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>규제지침</td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td>
                    <li class="data" onclick=location.href="#"><b>Safety in the use of nuclear energy (Guide YVL A.1)</b></li>
                    원자력 이용 안전관리
                    <li><b>Site for nuclear facility (GUIDE YVL A.2)</b></li>
                    원자력시설 부지에 관한 규제지침
                    <li class="data" onclick=location.href="#"><b>Release Barriers of Spent Nuclear Fuel Disposal Faciltiy (GUIDE YVL D.7)</b></li>
                    사용후핵연료 처분시설의 방벽에 대한 규제지침
                    <li class="data" onclick=location.href="#"><b>DISPOSAL OF NUCLEAR WASTE(STUK-YVL D.5)</b></li>
                    원자력폐기물 처분에 관한 규제지침
                  </td>

                  <td>
                    <li><b>RFS (Basic Safety Rules)</b></li>
                    기본안전규칙 등
                    <li class="data" onclick=location.href="#"><b>RFS I.2 Safety objectives and design bases for surface facilities intended for long-term disposal of solid</b></li>
                    RFS I.2 고체의 장기 처분을 위한 지상 시설의 안전 목표 및 설계 기반
                    <li><b>ASN Guides 등</b></li>
                    <li class="data" onclick=location.href="#"><b>Safety Guide on the final disposal of radioactive waste in deep geological formations (February 2008)</b></li>
                    깊은 지층에서 방사성폐기물 최종처분에 관한 안전지침
                  </td>

                  <td></td>

                  <td>
                    <li class="data" onclick=location.href="#"><b>Guidance on Deep Geological Repository Site Characterization (Regulatory Document, REGDOC-1.2.1)</b></li>
                    심지층처분시설 부지특성평가에 대한 지침
                    <li class="data" onclick=location.href="#"><b>Management of radioactive waste Volume1 (REGDOC-2-11-1)</b></li>
                    폐기물 관리, 제 1권 : 방사성폐기물 관리
                  </td>

                  <td></td>

                  <td>
                    <li><b>Specific design principles for deep geological repositories and requirements for the safety case(ENSI-G03)</b></li>
                    심층처분시설에 대한 특정 설계 원칙 및 safety case 요구사항
                  </td>
                </tr>


              </table>
            </div>

            <div class="tab-pane" id="KOR" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_kor.html' %}
            </div>


            <div class="tab-pane" id="USA" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_usa.html' %}
            </div>

            <div class="tab-pane" id="SWE" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_swe.html' %}
            </div>

            <div class="tab-pane" id="FIN" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_fin.html' %}
            </div>


            <div class="tab-pane" id="FRA" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_fra.html' %}
            </div>

            <div class="tab-pane" id="GER" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_ger.html' %}
            </div>

            <div class="tab-pane" id="CAN" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_can.html' %}
            </div>

            <div class="tab-pane" id="JPN" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_jpn.html' %}
            </div>


            <div class="tab-pane" id="SUI" role="tabpanel">
              {% include 'kinsdb/BRNC/laws_summary/brnc_sui.html' %}
            </div>


          </div>
        </div>
        <!--end nav-pills-->
      </div>


    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
