{% extends 'partials/rnd_base.html' %}
{% load static %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<style>
  table {
    width: 85%;
    border: 1px solid black;
  }

  .tb-col {
    width: 10%;
  }

  td,
  th {
    text-align: center !important;
    font-size: 13px;
  }

  td,
  th {
    vertical-align: middle !important;
  }

  .data:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  .custom li {
    flex: 1;
    text-align: center;
    border: 1px solid lightgray;
  }

  .nav-pills .nav-link {
    border-radius: 0 !important;
  }

  .laws {
    width: 100%;
    min-height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: center;
  }

  .summary li {
    padding: 10px;
  }

  .sector {
    padding-top: 20px;
  }

  .entire td{
    font-size: 7px;
  }

  .entire {
    table-layout: fixed;
  }


</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->
<section class="page-title-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="text-center text-white">
          <h3 class="mb-4"> 규제기준 데이터베이스 </h3>



        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- end home -->

<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->



<section class="section">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="mt-5">
          <h6 class="card-title">데이터베이스 보기</h6>
          <p class="text-muted">규제기준 데이터베이스 바로가기</p>


          <ul class="nav nav-pills custom" role="tablist">
            <li class="nav-item waves-effect waves-light">
              <a class="nav-link active" data-bs-toggle="tab" href="#ALL" role="tab">
                <span>전체</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#KOR" role="tab">
                <span>국내</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#USA" role="tab">
                <span>미국</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#SWE" role="tab">
                <span>스웨덴</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#FIN" role="tab">
                <span>핀란드</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#FRA" role="tab">
                <span>프랑스</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#GER" role="tab">
                <span>독일</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#CAN" role="tab">
                <span>캐나다</span>
              </a>
            </li>


            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#JPN" role="tab">
                <span>일본</span>
              </a>
            </li>

            <li class="nav-item waves-effect waves-light">
              <a class="nav-link" data-bs-toggle="tab" href="#SUI" role="tab">
                <span>스위스</span>
              </a>
            </li>

          </ul>


          <div class="tab-content p-3 text-muted">

            <div class="tab-pane active" id="ALL" role="tabpanel">
              <table class="table table-bordered mb-0 entire" style="width:100%">
                <tr>
                  <th>수준</th>
                  <th>국내</th>
                  <th>미국</th>
                  <th>스웨덴</th>
                  <th>핀란드</th>
                  <th>프랑스</th>
                  <th>독일</th>
                  <th>캐나다</th>
                  <th>일본</th>
                  <th>스위스</th>
                </tr>

                <tr>
                  <td>법률</td>
                  <td>
                    <li><b>원안법 제63조</b></li>
                    방사성페기물관리시설등의 건설, 운영허가
                    <li><b>원안법 시행령 제96조</b></li>
                    방사성폐기물관리시설등의 건설, 운영허가 신청
                    <li><b>원안법 시행규칙 제87조</b></li>
                    방사성폐기물관리시설등의 건설, 운영허가의 신청
                  </td>
                  <td>
                    <li><b>Atomic Energy Act of 1954</b></li>
                    원자력법
                    <li><b>Energy Reorganization Act of 1974</b></li>
                    에너지 재편법
                    <li><b>Nuclear Waste Policy Act of 1982</b></li>
                    방사성폐기물 정책법
                  </td>
                  <td>
                    <li><b>The Act on Nuclear Activities (1984:3)</b></li>
                    원자력활동법
                    <li><b>The Radiation Protection Act (2018:396)</b></li>
                    방사선방호법
                    <li><b>Radiation Protection Ordinance (2018:506)</b></li>
                    방사선방호조례
                    <li><b>The Environmental Code (1998:808)</b></li>
                    환경법
                  </td>

                  <td>
                    <li><b>Nuclear Engergy Act</b></li>
                    원자력 에너지 법
                    <li><b>Nuclear Engergy Decree</b></li>
                    원자력 에너지 법령
                    <li><b>Radiation Decree</b></li>
                    방사선 법
                  </td>

                  <td>
                    <li><b>TSN Act</b></li>
                    원자력분야 투명성 및 보안에 관한 법
                    <li><b>Waste Act</b></li>
                    방사성물질 및 폐기물의 지속가능한 관리에 관한 법
                    <li><b>The Environmental Code</b></li>
                    환경법
                  </td>

                  <td>
                    <li><b>Basic Law (GG)</b></li>
                    기본법
                    <li><b>Atomic Energy Act (Atg)</b></li>
                    원자력 에너지 법
                    <li><b>Repository Site Selection Act (StandAG)</b></li>
                    처분시설 부지 선정에 관한 법
                    <li><b>Radiation Protection Ordinance (StrlSchV)</b></li>
                    방사선방호 조례
                  </td>

                  <td>
                    <li><b>Nuclear Safety and Control Act</b></li>
                    원자력안전 및 통제법
                    <li><b>Nuclear Fuel Waste Act</b></li>
                    핵연료 폐기물 법
                  </td>


                  <td>
                    <li><b>特定放射性廃棄物の最終処分に関する法律</b></li>
                    특정방사성폐기물의 최종 처분에 관한 법률
                    <li><b>特定放射性廃棄物の最終処分に関する法律</b></li>
                    특정방사성폐기물의 최종 처분에 관한 법 시행령
                    <li><b>特定放射性廃棄物の最終処分に関する法律</b></li>
                    특정방사성폐기물의 최종 처분에 관한 법 시행규칙
                  </td>

                  <td>
                    <li><b>Federal Nuclear Safety Ordinance (NSO)</b></li>
                    <li><b>Feral Ordinance on the Disposal of Radioactive Waste (Radioactive Waste Ordinance)</b></li>

                  </td>
                </tr>

                <tr>
                  <td>규정</td>
                  <td>
                    <li><b>원안위 고시 제2021-21호</b></li>
                    고준위방폐물 심층처분시설에 관한 일반기준
                    <li><b>원안위 고시 제2021-22호</b></li>
                    사용후핵연료 인도규정
                  </td>

                  <td>
                    <li><b>10CFR Part 60</b></li>
                    지층처분장에 고준위방폐물 처분
                    <li><b>10CFR Part 63</b></li>
                    네바다주 유카마운틴 지층처분장에서의 고준위방폐물 처분
                    <li><b>40CFR Part 191</b></li>
                    사용후핵연료, 고준위 및 TRU 방폐물의 관리와 처분을 위한 환경방사선방호기준
                    <li><b>40CFR Part 197</b></li>
                    네바다주 유카마운틴을 위한 공중의 보건 및 환경방사선방호의 기준
                  </td>

                  <td>
                    <li><b>Regulations concerning safety in nuclear facilities (SSMFS 2008:1)</b></li>
                    원자력시설 안전 규정
                    <li><b>Regulations on the protection of human health and the environment in connection with the final management of spent nuclear fuel and nuclear waste (SSMFS 2008:37)</b></li>
                    인간 및 환경보호 관련 사용후핵연료 및 원자력폐기물의 최종 관리에 관한 규정
                    <li><b>]Regulations on safety in connection with the disposal of nuclear material and nuclear waste (SSMFS 2008:21)</b></li>
                    핵물질 및 원자력폐기물 처분에 관한 안전 규정
                  </td>

                  <td>
                    <li><b>Radiation and Nuclear Safety Authority Regulation on the Safety of Disposal of Nuclear Waste (STUK Y/4/2018)</b></li>
                    원자력폐기물 처분 안전에 관한 방사선 및 원자력안전 당국 규정
                  </td>

                  <td></td>

                  <td>
                    <li><b>Final Disposal of Heat Generating Radioactive Waste (BMU10)</b></li>
                    발열방폐물의 최종처분에 관한 규정
                    <li><b>Safety Criteria the Final Disposal of Radioactive Waste in a Mine </b></li>
                    방폐물의 광산 최종처분시 안전 요건
                    <li><b>Verordnung über Anforderungen und Verfahren zur Entsorgung radioaktiver Abfälle (Atomrechtliche Entsorgungsverordnung – AtEV)</b></li>
                  </td>

                  <td></td>

                  <td></td>
                  <td></td>
                </tr>

                <tr>
                  <td>규제지침</td>
                  <td></td>
                  <td></td>
                  <td></td>

                  <td>
                    <li><b>Safety in the use of nuclear energy (Guide YVL A.1)</b></li>
                    원자력 이용 안전관리
                    <li><b>Site for nuclear facility (GUIDE YVL A.2)</b></li>
                    원자력시설 부지에 관한 규제지침
                    <li><b>Release Barriers of Spent Nuclear Fuel Disposal Faciltiy (GUIDE YVL D.7)</b></li>
                    사용후핵연료 처분시설의 방벽에 대한 규제지침
                    <li><b>DISPOSAL OF NUCLEAR WASTE(STUK-YVL D.5)</b></li>
                    원자력폐기물 처분에 관한 규제지침
                  </td>

                  <td>
                    <li><b>RFS (Basic Safety Rules)</b></li>
                    기본안전규칙 등
                    <li><b>RFS I.2 Safety objectives and design bases for surface facilities intended for long-term disposal of solid</b></li>
                    RFS I.2 고체의 장기 처분을 위한 지상 시설의 안전 목표 및 설계 기반
                    <li><b>ASN Guides 등</b></li>
                    <li><b>Safety Guide on the final disposal of radioactive waste in deep geological formations (February 2008)</b></li>
                    깊은 지층에서 방사성폐기물 최종처분에 관한 안전지침
                  </td>

                  <td></td>

                  <td>
                    <li><b>Guidance on Deep Geological Repository Site Characterization (Regulatory Document, REGDOC-1.2.1)</b></li>
                    심지층처분시설 부지특성평가에 대한 지침
                    <li><b>Management of radioactive waste Volume1 (REGDOC-2-11-1)</b></li>
                    폐기물 관리, 제 1권 : 방사성폐기물 관리
                  </td>

                  <td></td>

                  <td>
                    <li><b>Specific design principles for deep geological repositories and requirements for the safety case(ENSI-G03)</b></li>
                    심층처분시설에 대한 특정 설계 원칙 및 safety case 요구사항
                  </td>
                </tr>


              </table>
            </div>

            <div class="tab-pane" id="KOR" role="tabpanel">
              <p class="mb-0">
                국내
              </p>
            </div>


            <div class="tab-pane" id="USA" role="tabpanel">
              <div class="row">

                <h6 class="sector">미국의 원자력 관련 법령 체계도</h6>
                <div class="col-lg-6">
                  <img src="{% static 'images/brnc/usa_laws.png' %}" alt="" class="laws">
                </div>
                <div class="col-lg-6">
                  <ul class="summary">
                    <li>미국의 원자력 관련 법령은 미국 의회가 제정한 법률 (ACT), 연방규정 (CFR)과 규제지침 (Guides), 민간 규격 (Standards)으로 구성되어 있다. 민간 규격의 경우, 해당 규격과 관련된 학회 및 협회에서 정한 것으로 법적 구속력은 없다.</li>
                    <li>미국의 심지층처분에 관한 규제 근거는 원자력법 (Atomic Energy Act), 방폐물정책법 (Nuclear Waste Policy Act) 등에 제시되어 있다.</li>
                    <li>연방규정(Federal Regulation) 중, 10CFR은 미국 원자력규제위원회 (NRC)에서 발행하고 있으며, 심층처분에 대한 규제요건을 제시하고 있는 주요 규정은 10CFR60, 10CFR63 등이 있다.</li>
                    <li>또한, 40CFR은 미국 환경보호국 (EPA)에서 발행하고 있으며, 40CFR191, 40CFR19197 등을 통해 심층처분과 관련된 규제요건을 제시하고 있다.</li>
                  </ul>
                </div>

                <h6 class="sector">미국의 심층처분 관련 주요 규제요건</h6>
                <div class="col-lg-12">
                  <table class="table table-bordered mb-0" style="width:100%">
                    <tr>
                      <th style="width:10%">분류</th>
                      <th style="width:40%">명칭</th>
                      <th style="width:60%">주요내용</th>
                    </tr>

                    <tr>
                      <td rowspan="2" style="width:10%">법률</td>
                      <td>방사성폐기물정책법</td>
                      <td>고준위 방폐물 및 사용후핵연료 처분에 대한 미 연방정부의 책임과 발생자 부담원칙, 처분사업의 계획수립 및 실시 주체 등에 대하여 포괄적으로 규정</td>
                    </tr>

                    <tr>
                      <td>원자력 에너지 법</td>
                      <td>방폐물의 처리 및 처분과 관련된 활동과 방폐물 처분시설 건설 및 운영 허가는 NRC의 승인을 받아야 함을 규정</td>
                    </tr>

                    <tr>
                      <td rowspan="4" style="width:10%">연방규정</td>
                      <td>지층처분시설의 고준위방폐물 처분</td>
                      <td>미국 원자력규제위원회(NRC)가 승인한 지하 저장소에 저준위 방사성 폐기물을 안전하게 처리 및 처분할 수 있는 규정을 제시</td>
                    </tr>

                    <tr>
                      <td>네바다주 유카마운틴 지층처분시설의 고준위방폐물 처분</td>
                      <td>NRC가 승인한 지하 저장소에 고준위 방사성 폐기물을 안전하게 처리 및 처분할 수 있는 규정을 제시<br>
                        10CFR63은 10CFR60을 보완하여 더욱 엄격한 기준을 제시
                      </td>
                    </tr>

                    <tr>
                      <td>사용후핵연료, 고준위 및 TRU 방폐물의 관리와 처분을 위한 환경 방사선방호 기준</td>
                      <td>미국 환경보호국(EPA)이 고준위 방사성 폐기물의 지하처분시 발생하는 방사능 영향을 줄이기 위한 규정을 제시</td>
                    </tr>

                    <tr>
                      <td>네바다주 유카마운틴을 위한 공중의 보건 및 환경방사선방호의 기준</td>
                      <td>EPA가 저준위와 고준위 방사성 폐기물에 해당되지 않는 준고준위 폐기물을 안전하게 처리 및 처분할 수 있는 지하 저장소의 운영과 유지보수에 관한 규정을 제시</td>
                    </tr>

                  </table>
                </div>

                <h6 class="sector">미국의 심층처분시스템 개발 주요 연혁</h6>
                <div class="col-lg-12">
                  <ul>
                    <li>`83년, 처분시설 부지확보 착수</li>
                    <li>`87년, 후보지 중 한 곳인 네바다주 Yucca Mountain에 대한 부지조사 착수 </li>
                    <li>`02년, Yucca Mountain을 심층처분 부지로 선정 </li>
                    <li>`08년, DOE에서 Yucca Mountain 부지의 심층처분 인·허가 신청서 제출</li>
                    <li>`10년, Yucca Mountain 프로젝트 잠정 중단</li>
                    <li>`12년, 합의에 근거한 새로운 부지선정 절차 마련, 전담기구 설치, 중간저장시설ㆍ처분시설 확보 등 권고</li>
                    <li>`22년, 각 원전에서 한시적으로 원전 부지 내 사용후핵연료 임시저장시설 운영중, 중간저장시설은 민간 주도로 추진중 (텍사스ㆍ뉴멕시코)</li>

                  </ul>
                  <img src="{% static 'images/brnc/usa_site.png' %}" alt="" class="laws">
                </div>

              </div>

            </div>

            <div class="tab-pane" id="SWE" role="tabpanel">
              <p class="mb-0">
                스웨덴의 안전규제
              </p>
            </div>

            <div class="tab-pane" id="FIN" role="tabpanel">
              <p class="mb-0">
                핀란드
              </p>
            </div>


            <div class="tab-pane" id="FRA" role="tabpanel">
              <p class="mb-0">
                프랑스
              </p>
            </div>

            <div class="tab-pane" id="GER" role="tabpanel">
              <p class="mb-0">
                독일
              </p>
            </div>

            <div class="tab-pane" id="CAN" role="tabpanel">
              <p class="mb-0">
                캐나다
              </p>
            </div>

            <div class="tab-pane" id="JPN" role="tabpanel">
              <p class="mb-0">
                일본
              </p>
            </div>


            <div class="tab-pane" id="SUI" role="tabpanel">
              <p class="mb-0">
                스위스
              </p>
            </div>


          </div>
        </div>
        <!--end nav-pills-->
      </div>


    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>

{% endblock content %}
{% block javascript %}
<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>


<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Js -->
<script src="{% static 'js/pages/candidate.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/pages/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
