{% extends 'partials/rnd_base.html' %}
{% load static %}
{% load paginate %}
{% block title %}Database{% endblock title %}
{% block extra_css %}
<!-- Choise Css -->
<link rel="stylesheet" href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}">
<!-- <style>
  .form-check {
    display: inline-block !important;
    padding-left: 3em !important;
  }
</style> -->

<script src="{% static 'js/wordcloud2.js' %}"></script>


<style>
  .pill-list {
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 10px 10px 0;
    text-transform: capitalize;
    width: initial !important;
  }

  .pill-list input[type="radio"] {
    display: none;
  }

  .pill-list input[type="radio"]:checked+.pill-label {
    background-color: var(--bs-blue);
    border: 1px solid var(--bs-blue);
    color: #fff;
    padding-right: 16px;
    padding-left: 16px;
  }

  .pill-label {
    border: 1px solid #1da1f2;
    border-radius: 20px;
    color: #1c94e0;
    display: block;
    padding: 7px 14px;
    text-decoration: none;
  }

  .pill-label:hover {
    box-shadow: inset 0 0 2px var(--bs-blue);
  }

  .pill-list input[type="radio"]:checked+.pill-label .icon--checkLight {
    display: inline-block;
  }

  .pill-list input[type="radio"]:checked+.pill-label .icon--addLight,
  .pill-label .icon--checkLight,
  .PillList-children {
    display: none;
  }

  .icon--smallest {
    font-size: 12px;
    line-height: 12px;
  }

  .icon {
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
  }

  .field {
    padding: 10px;
    box-shadow: inset 0 0 2px var(--bs-blue);
    border-radius: 3px;
  }

  .legend {
    font-size: calc(1rem + .2vw) !important;
  }

  .card,
  .field {
    height: 100%;
  }
</style>
{% endblock extra_css %}
{% block content %}
<!-- Start home -->

<script>
  function keywordPill() {
    document.getElementById('keyword').classList.toggle('active');
  }
</script>

<section class="page-title-box">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="text-center text-white">
        <h2 class="mb-4">규제기준 데이터베이스</h2>
      </div>
    </div>

    <!--end col-->
  </div>
  <!--end row-->
  <!--end container-->
</section>
<!-- end home -->
<!-- START SHAPE -->
<div class="position-relative" style="z-index: 1">
  <div class="shape">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 250">
      <path fill="#FFFFFF" fill-opacity="1" d="M0,192L120,202.7C240,213,480,235,720,234.7C960,235,1200,213,1320,202.7L1440,192L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path>
    </svg>
  </div>
</div>
<!-- END SHAPE -->


<section>
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-12">
        <button type="button" name="button" class="btn btn-primary w-30" onclick=location.href="{% url 'brnc' %}">메인화면 돌아가기</button>
      </div> -->
      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="field p-4">
            <legend class="legend">부문 선택</legend>

            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='공학적 방벽' %}">
              <input type="radio" name="feature" value="공학적 방벽" {% if sector == '공학적 방벽' %}checked{% endif %}>
              <span class="pill-label">공학적 방벽
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>

            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='방사성폐기물' %}">
              <input type="radio" name="feature" value="방사성폐기물" {% if sector == '방사성폐기물' %}checked{% endif %}>
              <span class="pill-label">방사성폐기물
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>

            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='부지개발' %}">
              <input type="radio" name="feature" value="부지개발" {% if sector == '부지개발' %}checked{% endif %}>
              <span class="pill-label">부지개발
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>

            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='부지환경' %}">
              <input type="radio" name="feature" value="부지환경" {% if sector == '부지환경' %}checked{% endif %}>
              <span class="pill-label">부지환경
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>
            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='Safety Context' %}">
              <input type="radio" name="feature" value="Safety Context" {% if sector == 'Safety Context' %}checked{% endif %}>
              <span class="pill-label">Safety Context
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>
            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='처분시설개발' %}">
              <input type="radio" name="feature" value="처분시설개발" {% if sector == '처분시설개발' %}checked{% endif %}>
              <span class="pill-label">처분시설 개발
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>
            <label class="pill-list" onclick=location.href="{% url 'regulation_database_sector' sector='처분안전' %}">
              <input type="radio" name="feature" value="처분안전" {% if sector == '처분안전' %}checked{% endif %}>
              <span class="pill-label">처분안전
                <span class="icon icon--checkLight icon--smallest"><i class="mdi mdi-check"></i></span>
              </span>
            </label>
          </div>
        </div>
      </div>

      <script>
        function setImage(img) {
          var wcurl = ''
          var nturl = ''

          if (img == '공학적방벽') {
            wcurl = "{% static 'images/wordcloud/공학적방벽.png' %}";
            nturl = "{% static 'images/network/공학적방벽.png' %}";
          } else if (img == '방사성폐기물') {
            wcurl = "{% static 'images/wordcloud/방사성폐기물.png' %}";
            nturl = "{% static 'images/network/방사성폐기물.png' %}";
          } else if (img == '부지개발') {
            wcurl = "{% static 'images/wordcloud/부지개발.png' %}";
            nturl = "{% static 'images/network/부지개발.png' %}";
          } else if (img == '부지환경') {
            wcurl = "{% static 'images/wordcloud/부지환경.png' %}";
            nturl = "{% static 'images/network/부지환경.png' %}";
          } else if (img == '안전사례') {
            wcurl = "{% static 'images/wordcloud/안전사례.png' %}";
            nturl = "{% static 'images/network/안전사례.png' %}";
          } else if (img == '처분시설개발') {
            wcurl = "{% static 'images/wordcloud/처분시설개발.png' %}";
            nturl = "{% static 'images/network/처분시설개발.png' %}";
          } else if (img == '처분안전') {
            wcurl = "{% static 'images/wordcloud/처분안전.png' %}";
            nturl = "{% static 'images/network/처분안전.png' %}";
          }

          // console.log(img);
          // console.log(sturl);

          document.getElementById('wordcloud').src = wcurl;
          document.getElementById('network').src = nturl;

        }
      </script>

      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="field p-4" id="my_canvas">
            <legend class="legend">부문별 주요 키워드</legend>
          </div>
        </div>
      </div>


      <div class="col-lg-4 mb-4">
        <div class="card">
          <div class="field p-4">
            <legend class="legend">키워드 관계망</legend>

          </div>
        </div>
      </div>

      <script src="{% static 'js/wordcloud2.js' %}"></script>
      <script>
        function create_wc(list) {
          WordCloud(document.getElementById('my_canvas'), {
            list: list,
            click: function(item) {
              alert(item)
            },
            shape: 'circle',
            drawOutOfBound: false,
            shrinkToFit: true,
          });
        }
      </script>
      <button type="button" name="button" class="btn btn-primary w-30" onclick="create_wc({{list_}})">Click</button>


    </div>


  </div>
</section>




<section class="">
  <div class="container">

    <div class="row justify-content-center">
      <script>
        function selectAll(selectAll) {
          const checkboxes = document.getElementsByName('regulation');

          checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked;
          })
        }

        function checkSelectAll() {
          // 전체 체크박스
          const checkboxes = document.querySelectorAll('input[name="regulation"]');
          // 선택된 체크박스
          const checked = document.querySelectorAll('input[name="regulation"]:checked');
          // select all 체크박스
          const selectAll = document.querySelector('input[name="selectall"]');

          if (checkboxes.length === checked.length) {
            selectAll.checked = true;
          } else {
            selectAll.checked = false;
          }

        }
      </script>


      <div class="col-lg-11">
        <div class="candidate-list-widgets mb-4">
          <form method="get" name="search_filter" id="search_filter">
            {% csrf_token %}


            <script>
              function changeSerial(str) {
                document.getElementById('serialInput').value = str;
              }

              function changeField(str) {
                document.getElementById('fieldFormControlInput').value = str;
              }
            </script>


            <div class="row g-2 mt-3 mb-3">
              <div class="col-lg-3">
                <div class="filler-job-form">
                  <i class="uil uil-clipboard-notes"></i>
                  <select class="" data-trigger name="choices-single-docs" id="choices-single-docs" onchange="changeSerial(this.value)">
                    <option value="">문서</option>
                    <option value="10CRF60" {% if serial == '10CRF60' %}selected{% endif %}>10CRF60</option>
                    <option value="SSR-5" {% if serial == 'SSR-5' %}selected{% endif %}>SSR-5</option>
                    <option value="10CRF63" {% if serial == '10CRF63' %}selected{% endif %}>10CRF63</option>
                    <option value="SSG-14" {% if serial == 'SSG-14' %}selected{% endif %}>SSG-14</option>
                    <option value="SSG-23" {% if serial == 'SSG-23' %}selected{% endif %}>SSG-23</option>
                    <option value="SSG-31" {% if serial == 'SSG-31' %}selected{% endif %}>SSG-31</option>
                    <option value="ACT No.1988:20" {% if serial == 'ACT No.1988:20' %}selected{% endif %}>ACT No.1988:20</option>
                    <option value="SSMFS 2008:37" {% if serial == 'SSMFS 2008:37' %}selected{% endif %}>SSMFS 2008:37</option>
                    <option value="40CFR191" {% if serial == '40CFR191' %}selected{% endif %}>40CFR191</option>
                    <option value="40CFR197" {% if serial == '40CFR197' %}selected{% endif %}>40CFR197</option>
                    <option value="RECDOC-1.2.1" {% if serial == 'RECDOC-1.2.1' %}selected{% endif %}>RECDOC-1.2.1</option>
                    <option value="GMBI.1993,Nr.13,S.220" {% if serial == 'GMBI.1993,Nr.13,S.220' %}selected{% endif %}>GMBI.1993,Nr.13,S.220</option>
                    <option value="GS-G-3-4" {% if serial == 'GS-G-3-4' %}selected{% endif %}>GS-G-3-4</option>
                    <option value="SFS 2018:505" {% if serial == 'SFS 2018:505' %}selected{% endif %}>SFS 2018:505</option>
                  </select>
                </div>
              </div>


              <div class="col-lg-3">
                <div class="filler-job-form">
                  <i class="uil uil-clipboard-notes"></i>
                  <select class="form-select" data-trigger name="choices-single-cate" id="choices-single-cate" onchange="changeField(this.value)">
                    <option value="">부문</option>
                    <option value="Safety Context" {% if field == 'Safety Context' %}selected{% endif %}>1. Safety Context</option>
                    <option value="처분안전" {% if field == '처분안전' %}selected{% endif %}>2. 처분안전</option>
                    <option value="부지환경" {% if field == '부지환경' %}selected{% endif %}>3. 부지환경</option>
                    <option value="천연방벽" {% if field == '천연방벽' %}selected{% endif %}>4. 천연방벽</option>
                    <option value="공학적방벽" {% if field == '공학적방벽' %}selected{% endif %}>5. 공학적방벽</option>
                    <option value="방사성폐기물" {% if field == '방사성폐기물' %}selected{% endif %}>6. 방사성폐기물</option>
                    <option value="부지개발" {% if field == '부지개발' %}selected{% endif %}>7. 부지개발</option>
                    <option value="URL개발" {% if field == 'URL개발' %}selected{% endif %}>8. URL개발</option>
                    <option value="처분시설개발" {% if field == '처분시설개발' %}selected{% endif %}>9. 처분시설 개발</option>
                    <option value="안전사례" {% if field == '안전사례' %}selected{% endif %}>10. 안전사례</option>
                  </select>
                </div>
              </div>


              <div class="col-lg-4">
                <div class="filler-job-form">
                  <i class="uil uil-search"></i>

                  <input type="search" class="form-control filter-job-input-box" id="exampleFormControlInput1" name="search" value="{{ search }}" onfocus="this.value=''" placeholder="제목 검색" onblur="this.value=this.value.trim();">

                  <input type="hidden" id="serialInput" name="serial" value="{{ serial }}">
                  <input type="hidden" id="fieldFormControlInput" name="field" value="{{ field }}" onfocus="this.value=''" placeholder="태그 입력">

                </div>
              </div>
              <!--end col-->

              <!--end col-->
              <div class="col-lg-2">
                <div>
                  <button type="submit" href="javascript:void(0)" class="btn btn-primary"><i class="uil uil-filter"></i>검색</button>
                  <a href="{% url 'regulation_database' %}" style="padding-left:10px;">Clear<i class="uil uil-multiply"></i></a>
                </div>
              </div>
            </div>
            <!--end row-->
          </form>
          <!--end form-->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->


    <div class=" row justify-content-center">

      <div class="col-lg-11">
        <div class="mb-3 mb-lg-0">
          <h6 class="fs-16 mb-0" style="font-weight:200; color: gray"> Showing
            <b>{{ page_obj.paginator.count }} results</b>
          </h6>
        </div>
        <!--end col-->

      </div>
      <!--end row-->

    </div>


    <div class="row justify-content-center">
      <!-- <div class="col-lg-3 mt-4">
        <div class="accordion-item mt-3">
          <h2 class="accordion-header" id="jobType">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#regulation" aria-expanded="false" aria-controls="regulation">
              법령체계
            </button>
          </h2>
          <div id="regulation" class="accordion-collapse collapse show" aria-labelledby="regulationOne">
            <div class="accordion-body">
              <div class="side-title">

                <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" value="all" id="flexCheckChecked1" {% if regulation|length >= 4 %}checked{% endif %} name="selectall" onclick="selectAll(this)" />
                  <label class="form-check-label text-muted" for="flexCheckChecked1">전체</label>
                </div>

                <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" value="미국" id="flexCheckChecked2" {% if '법률' in regulation %}checked{% endif %} name="regulation" onclick="checkSelectAll()" />
                  <label class="form-check-label text-muted" for="flexCheckChecked2">법률</label>
                </div>
                <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" value="스웨덴" id="flexCheckChecked3" {% if '규정' in regulation %}checked{% endif %} name="regulation" onclick="checkSelectAll()" />
                  <label class="form-check-label text-muted" for="flexCheckChecked3">규정</label>
                </div>
                <div class="form-check mt-2">
                  <input class="form-check-input" type="checkbox" value="핀란드" id="flexCheckChecked4" {% if '규제지침' in regulation %}checked{% endif %} name="regulation" onclick="checkSelectAll()" />
                  <label class="form-check-label text-muted" for="flexCheckChecked4">규제지침</label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="col-lg-11">
        <div class="candidate-list">

          {% for doc in page_obj %}
          <!-- start card -->
          {% include 'partials/brnc_card.html' %}
          <!--end card-->
          {% endfor %}

          <script>
            function searchTag(tag_content) {
              var form = document.getElementById('search_filter');

              document.getElementById('exampleFormControlInput1').value = tag_content;
              form.submit();
            }
          </script>

        </div>
        <!--end candidate-list-->
      </div>
      <!--end col-->

    </div>
    <!--end row-->

    <div class="row justify-content-center">
      <div class="col-lg-11 m-5">
        <nav>
          <ul class="pagination job-pagination mb-0 justify-content-center">

            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="{% my_url 1 'page' request.GET.urlencode %}" tabindex="-1">
                <i class="mdi mdi-chevron-double-left fs-15"></i>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}" tabindex="-1">
                <i class="mdi mdi-chevron-left fs-15"></i>
              </a>
            </li>

            {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)">

                <i class="mdi mdi-chevron-double-left fs-15"></i>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)">

                <i class="mdi mdi-chevron-left fs-15"></i>
              </a>
            </li>
            {% endif %}


            {% for page_number in page_obj.paginator.page_range %}
            {% if page_start_number <= page_number and page_end_number >= page_number %}
            {% if page_number == page_obj.number %}
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
              <a class="page-link" href="{% my_url page_number 'page' request.GET.urlencode %}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %} ">
                <i class="mdi mdi-chevron-right fs-15"></i>
              </a>

            </li>
            <li class="page-item">
              <a class="page-link" href="{% my_url last_page_num 'page' request.GET.urlencode %} ">
                <i class="mdi mdi-chevron-double-right fs-15"></i>
              </a>
            </li>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <i class="mdi mdi-chevron-right fs-15"></i>
              </a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" tabindex="-1" aria-disabled="true" href="#">
                <i class="mdi mdi-chevron-double-right fs-15"></i>
              </a>
            </li>
            {% endif %}

          </ul>
        </nav>
      </div>
      <!--end col-->
    </div><!-- end row -->

  </div>
  <!--end container-->
</section>
<!-- END JOB-LIST -->
{% endblock content %}
{% block javascript %}

<!-- JAVASCRIPT -->
<script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="https://unicons.iconscout.com/release/v4.0.0/script/monochrome/bundle.js"></script>

<!-- Choice Js -->
<script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

<!-- Candidate Init Js -->
<script src="{% static 'js/cloud/candidate.init.js' %}"></script>

<script src="{% static 'js/data-filter-brnc.init.js' %}"></script>

<!-- Job-list Init Js -->
<script src="{% static 'js/cloud/job-list.init.js' %}"></script>

<!-- Switcher Js -->
<script src="{% static 'js/cloud/switcher.init.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
